[submodule "ecoretool"]
	path = ecoretool
	url = git://github.com/everything2/ecoretool.git
[submodule "vagrant/cookbooks/ntp"]
	path = vagrant/cookbooks/ntp
	url = git://github.com/opscode-cookbooks/ntp.git
