[submodule "ecoretool"]
	path = ecoretool
	url = git://github.com/everything2/ecoretool.git
[submodule "vagrant/cookbooks"]
	path = vagrant/cookbooks
	url = git://github.com/everything2/cookbooks.git
