/* This dummy is here because IE3 sometimes ignores the first style, not
   used any where, but needed to make this css-def function properly */
.DUMMY {
   color: green;
   text-decoration: blink;
   font-weight: bold;
   eeky-eek: gimp rules;
}


BODY {
   font-family: arial, serif;
   font-size: 12px;
}



P {
   font-family: arial, serif;
   font-size: 12px;
}



TD {
   font-family: arial, serif;
   font-size: 12px;
}


TH {
   font-family: arial, serif;
   font-size: 12px;
}


H1 {
   font-family: arial narrow, arial, serif;
   font-size: 16px;
}


H1.topic {
   font-family: arial narrow, arial, serif;
   font-size: 16px;
   text-indent: 10px;
}


H2.topic {
   font-family: arial narrow, arial, serif;
   font-size: 12px;
   text-indent: 30px;
}


.time {
   font-family: helvetica, sans-serif;
   font-size: 12px;
   align: right;
}


.rightmenu {
   margin-left: 10px;
}

.newwrite {
   margin-left: 3px;
}

tt {
   font-family: sans-serif;
   font-size: 12px;
}

pre {
  font-family: sans-serif;
  font-size: 12px;
}
