<node>
  <doctext>[%
return '&lt;p&gt;You need to sign in or '
	.linkNode(getNode('Create a New User','superdoc'), 'register')
	.' to use this page.&lt;/p&gt;
	&lt;!-- ' if ($$USER{node_id} == $HTMLVARS{guest_user});
# Save the last updated time so we can timestamp external documents which are affected
#  by preferences for caching purposes.  Epoch is Unix time() seconds for easy comparison.
use DateTime;
if (defined $query-&gt;param('sexisgood')) {
	$$VARS{'preference_last_update_time'} = DateTime-&gt;now()-&gt;epoch()-60;
}
$HTMLVARS{pageheader} = '&lt;!-- put at end --&gt;'.htmlcode('settingsDocs');
htmlcode('openform',-id=&gt;'pagebody');
%]

&lt;h2 id=&quot;appearance&quot;&gt;Look and feel&lt;/h2&gt;
&lt;fieldset&gt;&lt;legend&gt;Theme&lt;/legend&gt;
[%
return if ($$USER{node_id} == $HTMLVARS{guest_user});

delete $$VARS{preferred_theme} if $$VARS{preferred_theme} == $HTMLVARS{default_theme} ;

if($query-&gt;param('chosentheme')) {
	my $theme = getNodeById($query-&gt;param('chosentheme'));
	my $theme_type = $$theme{type}{title} if $theme;
	if ($theme_type eq 'stylesheet' or $query-&gt;param('chosentheme') eq 'default' ){
		delete $$VARS{preferred_theme} ;
		delete $$VARS{userstyle} ;
		$$VARS{userstyle} = $$theme{node_id} if $theme ;
	} elsif ($theme_type eq 'theme' || $theme_type eq 'themesetting') {
		$$VARS{preferred_theme} = $$theme{node_id};
	}
	getTheme();
}
local $$THEME{default_style} = getVars(getNodeById($HTMLVARS{default_theme}))-&gt;{default_style} if $$VARS{preferred_theme};

my $sheets = getVars( getNode( 'theme menu' ,'setting' ) ) ;
foreach ( keys %$sheets ){
	if ( $$sheets{$_} &gt;= $HTMLVARS{stylesheetFixLevel} ){
		my $sh = getNodeById($_) ;
		$$sheets{$_} = $$sh{title}.(
			$$sh{title} ne $$THEME{default_style} ?
			' by '.getNodeById($$sh{author_user})-&gt;{title} : ' (default)');
	}else{
		delete $$sheets{$_} ;
	}
}
$$sheets{ $$VARS{userstyle} } = getNodeById($$VARS{userstyle}) -&gt; {title}
	unless !$$VARS{userstyle} || $$sheets{ $$VARS{userstyle} } ;

my @values = ( 'default' , keys %$sheets ) ;
$$sheets{default} = 'default zen theme' ;
$$sheets{ $$VARS{userstyle} } .= '*' if $$VARS{userstyle} ;
my $str = 'Choose a theme: ' . $query -&gt; popup_menu( -name =&gt; 'chosentheme', values=&gt; \@values ,
	labels=&gt;$sheets , default=&gt;$$VARS{userstyle}||'default') ;
if ( $$VARS{preferred_theme} ){
	$str .= htmlcode('typeMenu', 'chosentheme', $$VARS{preferred_theme}, 'theme', 'themesetting');
	$str =~ s&quot;&lt;option.*$HTMLVARS{default_theme}.*&lt;/option&gt;&quot;&quot; ;
	$str =~ s/(&lt;select.*&gt;)/$1&lt;optgroup label=&quot;Zen theme styles&quot;&gt;/ ;
	$str =~ s'&lt;/select&gt;.*&lt;select.*&gt;'&lt;/optgroup&gt;&lt;optgroup label=&quot;Unsupported themes&quot;&gt;' ;
	$str =~ s'&lt;/select&gt;'&lt;/optgroup&gt;&lt;/select&gt;' ;
}
&quot;$str\n&lt;br&gt;&lt;small&gt;If you choose 'default zen theme', your theme will change when the default is changed.
	If you choose '$$THEME{default_style}' it won't.
	There are more (possibly less well-maintained) themes at [Theme Nirvana].&lt;/small&gt;&lt;br&gt;&quot; ;
%]
[{varcheckboxinverse:nogradlinks,Show the softlink color gradient}] [{varcheckboxinverse:nogradekw,using colors from my theme}]&lt;br&gt;
&lt;/fieldset&gt;

&lt;fieldset&gt;&lt;legend&gt;Quick functions&lt;/legend&gt;
[%
return unless $$VARS{noquickvote};
htmlcode('varcheckboxinverse', 'noquickvote' , 'Enable quick functions (a.k.a. AJAX).') .
'&lt;br&gt;&lt;small&gt;(Voting, cooling, chatting, etc will no longer require complete pageloads. Highly recommended.)&lt;/small&gt;
&lt;br&gt;' ;
%]
&lt;label&gt;On-page transitions:[{varscombobox:fxDuration, 0,
	1,Off (instant),
	100,Supersonic,
	150,Faster,
	0,Fast (default),
	300,Less fast,
	400,Medium,
	600,Slow,
	800,Slower,
	1000,Glacial}]
&lt;/label&gt;
&lt;br&gt;
[{varcheckboxinverse:noreplacevotebuttons,Replace }]
	&lt;label&gt;&lt;input type=&quot;radio&quot; name=&quot;sampledummy&quot;&gt;+&lt;/label&gt;&lt;label&gt;&lt;input type=&quot;radio&quot; name=&quot;sampledummy&quot;&gt;-&lt;/label&gt;
	voting buttons with &lt;input type=&quot;button&quot; value=&quot;Up&quot;&gt;&lt;input type=&quot;button&quot; value=&quot;Down&quot;&gt; buttons.
&lt;br&gt;
[{varcheckbox:votesafety,Ask for confirmation when voting.}]
&lt;br&gt;
[{varcheckbox:coolsafety,Ask for confirmation when cooling writeups.}]&lt;br&gt;
&lt;/fieldset&gt;

&lt;h2 id=&quot;writeups&quot;&gt;Your writeups&lt;/h2&gt;

&lt;fieldset&gt;&lt;legend&gt;Editing&lt;/legend&gt;
[{varcheckbox:HideWriteupOnE2node,Only show your writeup edit box text on the writeup's own page}]
	(useful for slow connections; [E2 Options: Don't default to writeup edit on e2nodes|more information])&lt;br&gt;
[{varcheckbox:settings_useTinyMCE,Use WYSIWYG content editor to format writeups}]&lt;br&gt;
Writeup edit box display size: [{varsComboBox:textareaSize,0, 0,20 x 60 (Small) (Default), 1,30 x 80 (Medium), 2,50 x 95 (Large)}]
([E2 Options: Editbox size choices|more information])&lt;br&gt;
&lt;/fieldset&gt;
&lt;fieldset&gt;&lt;legend&gt;Writeup Hints&lt;/legend&gt;
Check for some common mistakes made in creating or editing writeups.&lt;br&gt;
[{varcheckboxinverse:nohints,Show critical writeup hints}] (recommended: on)&lt;br&gt;
[{varcheckboxinverse:nohintSpelling,Check for common misspellings}] (recommended: on)&lt;br&gt;
[{varcheckboxinverse:nohintHTML,Show HTML hints}] (recommended: on)&lt;br&gt;
[{varcheckbox:hintXHTML,Show strict HTML hints}]&lt;br&gt;
[{varcheckbox:hintSilly,Show silly hints}]
&lt;/fieldset&gt;

&lt;h2 id=&quot;noders&quot;&gt;Other users&lt;/h2&gt;
&lt;fieldset&gt;&lt;legend&gt;Other users' writeups&lt;/legend&gt;
&lt;label&gt;Anonymous voting:[{varscombobox:anonymousvote , 0,
	0,Always show author's username ,
	1,Hide author completely until I have voted on a writeup ,
	2,Hide author's name until I have voted but still link to the author}]
&lt;/label&gt;
&lt;/fieldset&gt;
[%
return if (getId($USER) == $HTMLVARS{guest_user});
my $favoritelinktype = getId(getNode(&quot;favorite&quot;,&quot;linktype&quot;));

my $csr = $DB -&gt; sqlSelectMany(&quot;*&quot;,&quot;links&quot;, &quot;from_node = $$USER{'node_id'} AND
                                          linktype  = $favoritelinktype&quot; );

my @list;
while( my $favnoder = $csr -&gt; fetchrow_hashref){
   $favnoder = getNodeById($$favnoder{'to_node'});
   push @list, '&lt;li&gt;'.$query-&gt;checkbox('cutlinkto_'.$$favnoder{'node_id'},'','1','').linkNode($favnoder).'&lt;/li&gt;';
}

my $str ;
if(@list){
	$str .= '&lt;fieldset&gt;&lt;legend&gt;Favorite other users&lt;/legend&gt;Your favourite noders are:&lt;ul&gt;' .
	join(&quot;\n&quot;,@list) .
	'&lt;/ul&gt;
	&lt;input type=&quot;hidden&quot; name=&quot;op&quot; value=&quot;linktrim&quot;&gt;' .
	htmlcode('verifyRequestForm', 'linktrim') .
	$query-&gt;hidden(&quot;cutlinkfrom&quot;,$$USER{'node_id'}) .
	$query-&gt;hidden(&quot;linktype&quot;,$favoritelinktype) .
	&quot;Check a user's name to remove them from the list.&lt;/fieldset&gt;&quot;;
}

$str .= '&lt;fieldset&gt;&lt;legend&gt;Less favorite other users&lt;/legend&gt;';

if(my $uname = $query-&gt;param('nomail')) {
	htmlcode('ignoreUser',&quot;$uname&quot;);
}

foreach ($query-&gt;param) {
	next unless /restore_(\d+)/;
	my $restore = $1;
	$DB-&gt;sqlDelete('messageignore', &quot;messageignore_id=$$USER{node_id} and ignore_node=$restore&quot;);
}

$str.='Block messages from: '
   .$query-&gt;textfield(-name=&gt;'nomail', default=&gt;'', override=&gt;'1')
   .'&lt;br&gt;&lt;small&gt;(If you enter a user name here, you will not receive private messages from this person or see their
   comments in the Chatterbox. If you enter a group, you will not receive messages to that group.)&lt;/small&gt;&lt;br&gt;';

$csr = $DB-&gt;sqlSelectMany('ignore_node', 'messageignore', 'messageignore_id='.$$USER{node_id});
@list = ();
while (my ($u) = $csr-&gt;fetchrow) {
	push @list, '&lt;li&gt;'.$query-&gt;checkbox('restore_'.$u, '', '1', '').linkNode($u).'&lt;/li&gt;';
}
$csr-&gt;finish;
$str.= '&lt;br&gt;You are ignoring:&lt;ul&gt;'.join (&quot;\n&quot;,@list).&quot;&lt;/ul&gt;
Check a user's name to remove them from the list.&lt;br&gt;
&lt;small&gt;More thorough ignoring is available at the [Pit of Abomination].&lt;/small&gt;&lt;br&gt;&quot; if @list;

$str .= '&lt;br&gt;If one of your messages is blocked, you will be informed:'.
htmlcode('varsComboBox','informmsgignore','0', '0','by private message','1','in the chatterbox',2,'both ways',3,'do not inform (bad idea)').
'&lt;br&gt;&lt;small&gt;(&lt;strong&gt;Warning&lt;/strong&gt;: &quot;do not inform&quot; could lead to you engaging in a one-sided conversation without noticing.)&lt;/small&gt;
&lt;/p&gt;
&lt;/fieldset&gt;';

$str.'&lt;br&gt;';
%]
&lt;script type=&quot;text/javascript&quot; src=&quot;/node/jscript/settings+script&quot;&gt;&lt;/script&gt;
[{closeform:Save Settings}]
[%
return ' --&gt;' if $$USER{node_id} == $HTMLVARS{guest_user};
%]</doctext>
  <core>R</core>
  <reputation>0</reputation>
  <lockedby_user>0</lockedby_user>
  <createtime>1999-10-07 04:35:12</createtime>
  <locktime>0000-00-00 00:00:00</locktime>
  <totalvotes>0</totalvotes>
  <hits>0</hits>
  <node_id>108</node_id>
  <edittime>0000-00-00 00:00:00</edittime>
  <type_nodetype>14</type_nodetype>
  <document_id>108</document_id>
  <author_user>114</author_user>
  <package>0</package>
  <title>Settings</title>
</node>
