/* 1854394.css (A test Sheet 1 by kthejoker - unsupported) */
body {
background-color: #ff0000;
}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#aba7a7;}td#sl62{background:#aca4a4;}td#sl61{background:#aea1a1;}
td#sl60{background:#af9f9f;}td#sl59{background:#b09c9c;}td#sl58{background:#b29999;}td#sl57{background:#b39797;}
td#sl56{background:#b49494;}td#sl55{background:#b69191;}td#sl54{background:#b78f8f;}td#sl53{background:#b88c8c;}
td#sl52{background:#ba8989;}td#sl51{background:#bb8686;}td#sl50{background:#bc8484;}td#sl49{background:#be8181;}
td#sl48{background:#bf7e7e;}td#sl47{background:#c07c7c;}td#sl46{background:#c27979;}td#sl45{background:#c37676;}
td#sl44{background:#c47474;}td#sl43{background:#c67171;}td#sl42{background:#c76e6e;}td#sl41{background:#c96b6b;}
td#sl40{background:#ca6969;}td#sl39{background:#cb6666;}td#sl38{background:#cd6363;}td#sl37{background:#ce6161;}
td#sl36{background:#cf5e5e;}td#sl35{background:#d15b5b;}td#sl34{background:#d25959;}td#sl33{background:#d35656;}
td#sl32{background:#d55353;}td#sl31{background:#d65050;}td#sl30{background:#d74e4e;}td#sl29{background:#d94b4b;}
td#sl28{background:#da4848;}td#sl27{background:#db4646;}td#sl26{background:#dd4343;}td#sl25{background:#de4040;}
td#sl24{background:#df3e3e;}td#sl23{background:#e13b3b;}td#sl22{background:#e23838;}td#sl21{background:#e43535;}
td#sl20{background:#e53333;}td#sl19{background:#e63030;}td#sl18{background:#e82d2d;}td#sl17{background:#e92b2b;}
td#sl16{background:#ea2828;}td#sl15{background:#ec2525;}td#sl14{background:#ed2323;}td#sl13{background:#ee2020;}
td#sl12{background:#f01d1d;}td#sl11{background:#f11a1a;}td#sl10{background:#f21818;}td#sl9{background:#f41515;}
td#sl8{background:#f51212;}td#sl7{background:#f61010;}td#sl6{background:#f80d0d;}td#sl5{background:#f90a0a;}
td#sl4{background:#fa0808;}td#sl3{background:#fc0505;}td#sl2{background:#fd0202;}td#sl1{background:#ff0000;}