/* 1854354.css (Kyle's Style by kthejoker - unsupported) */
body, div, p, th, td, li, dd {
font-family: "lucida grande", "lucida sans", "lucida sans unicode", lucida, arial, sans-serif;
font-size: 14px;
}
h1 {
font-size: 130%;
font-weight: bold;
}
h2 {
font-size: 110%;
font-weight: bold;
}
h3 {
font-size: 100%;
font-weight: bold;
}
big {
}
small {
}
body, #sidebar, #wrapper, #mainbody {
}
a {
color: #333399;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:link {
}
a:visited {
}
/*Basic structure*/
body {
width: 98.6%;
float: left;
background-color: #E6ECFF;
}
#sidebar {
width: 23%;
float: left;
}
#footer {
display: none;
}
#header {
background-color: #E6ECFF;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
height: 57px;
}
#e2logo {
display: none;
}
#metalinks {
display: none;
}
#metalinks li {
display: none;
}
#searchform {
float: right;
margin-right: 20px;
margin-top: 4px;
}
#searchform label {
font-size: 80%;
}
#wrapper {
float: left;
width: 100%;
margin-top: 60px;
}
#mainbody {
width: 75%;
float: left;
padding: 0 0.9%;
}
.nodelet {
background-color: #E6ECFF;
width: 100%;
}
.nodelet h2 {
background-color: #6078BF;
color: #e6ecff;
padding: 2px 0 2px 5px;
margin-top: 0px;
margin-bottom: 2px;
font-size: 130%;
letter-spacing: -0.1em;
}
.nodelet_content {
padding: 2px 11px 5px 11px;
}
.nodelet_section {
background-color: #ffffff;
border: solid 1px #6078BF;
padding: 5px;
margin-bottom: 8px;
}
.nodelet_section ul {
list-style: none;
margin-left: 5px;
margin-top: 2px;
margin-bottom: 0px;
}
.nodelet_section li {
padding: 0px;
margin: 5px 0;
border: 0px;
}
hr.clear {
clear: both;
visibility: hidden;
}
.nodetitle {
position: absolute;
top: 0px;
left: 20px;
font-size: 200%;
background: transparent;
text-decoration: underline;
letter-spacing: -0.1em;
z-index: 2;
}
.nodelet_section .ns_title {
margin: 0px;
}
.nodelet_tab {
font-size: 80%;
}
.hidden {
display: none;
}
#writeup_list {
list-style: none;
padding: 0px;
margin: 0px;
}
#writeup_list li {
margin: 3px 0 11px -5px;
display: block;
}
#writeup_list .writeupmeta {
display: none;
}
#writeup_list .hide {
display: none;
}
#writeup_list .title{
clear: both;
font-weight: bold;
font-size: 90%;
position: relative;
left: 0px;
}
#writeup_list .type {
margin-left: 6px;
}
span.var_label {
text-align: right;
width: 45%;
margin-left: -15px;
float: left;
clear: both;
font-weight: bold;
}
span.var_value {
float: right;
width: 60%;
text-align: left;
}
.nodelet form {
margin-top: 12px;
clear: both;
}
.nodelet form label {
font-weight: bold;
font-size: 90%;
display: block;
clear: both;
}
#adminbar {
font-size: 80%;
}
#admintools {
display: none;
}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#aaabab;}td#sl62{background:#abacac;}td#sl61{background:#acadae;}
td#sl60{background:#adaeaf;}td#sl59{background:#aeafb0;}td#sl58{background:#afb0b2;}td#sl57{background:#b0b1b3;}
td#sl56{background:#b1b2b4;}td#sl55{background:#b2b3b6;}td#sl54{background:#b3b4b7;}td#sl53{background:#b4b5b8;}
td#sl52{background:#b5b6ba;}td#sl51{background:#b6b7bb;}td#sl50{background:#b7b8bc;}td#sl49{background:#b8b9be;}
td#sl48{background:#b9babf;}td#sl47{background:#babbc0;}td#sl46{background:#bbbcc2;}td#sl45{background:#bcbdc3;}
td#sl44{background:#bdbec4;}td#sl43{background:#bec0c6;}td#sl42{background:#bec1c7;}td#sl41{background:#bfc2c9;}
td#sl40{background:#c0c3ca;}td#sl39{background:#c1c4cb;}td#sl38{background:#c2c5cd;}td#sl37{background:#c3c6ce;}
td#sl36{background:#c4c7cf;}td#sl35{background:#c5c8d1;}td#sl34{background:#c6c9d2;}td#sl33{background:#c7cad3;}
td#sl32{background:#c8cbd5;}td#sl31{background:#c9ccd6;}td#sl30{background:#cacdd7;}td#sl29{background:#cbced9;}
td#sl28{background:#cccfda;}td#sl27{background:#cdd0db;}td#sl26{background:#ced1dd;}td#sl25{background:#cfd2de;}
td#sl24{background:#d0d3df;}td#sl23{background:#d1d4e1;}td#sl22{background:#d2d6e2;}td#sl21{background:#d2d7e4;}
td#sl20{background:#d3d8e5;}td#sl19{background:#d4d9e6;}td#sl18{background:#d5dae8;}td#sl17{background:#d6dbe9;}
td#sl16{background:#d7dcea;}td#sl15{background:#d8ddec;}td#sl14{background:#d9deed;}td#sl13{background:#dadfee;}
td#sl12{background:#dbe0f0;}td#sl11{background:#dce1f1;}td#sl10{background:#dde2f2;}td#sl9{background:#dee3f4;}
td#sl8{background:#dfe4f5;}td#sl7{background:#e0e5f6;}td#sl6{background:#e1e6f8;}td#sl5{background:#e2e7f9;}
td#sl4{background:#e3e8fa;}td#sl3{background:#e4e9fc;}td#sl2{background:#e5eafd;}td#sl1{background:#e6ecff;}