/* Fixes from Clockmaker */

#pageheader {
 padding-bottom: 15px;
 border-bottom: 1px solid gray;
}

#pagebody .item {
 padding: 10px 0;
}
#pagebody .item .contentheader {
 margin-bottom: 20px;
}
#pagebody .item .contentfooter {
 margin-top: 20px;
}

#newwriteups .contentinfo {
 display: table;
 width: 100%;
}
#newwriteups .contentinfo .title {
 background-color: #fff;
 text-align: left;
 font-weight: normal;
 float: left;
 width: 77%;
}
#newwriteups .contentinfo .type {
 float: right;
 width: 23%;
 font-size: 80%;
 text-align: right;
}
#newwriteups .contentinfo cite {
 display: table-header-group;
 color: #cc9;
 text-align: center;
 background-color: #cc9;
 width: 100%;
 padding: 2px;
}
#newwriteups .contentinfo cite a {
 background-color: #cc9;
 font-weight: bold;
 display: inline-block;
 margin-left: -1em;
}

/* End New Writeups fixes */

/* archiewood fixed News For Noders headers. */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
/*= end autofix added rules */
/* DonJaime added next rule as a quick fix for New Writeups */
.nodelet .title {
background-color: #cccc99;
text-align: center;
}
/* belt and braces.. */
body, p, td, th, div {
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
h1 {
font-family: arial, sans-serif;
font-size: 140%;
font-weight: bold;
}
h2 {
font-size: 130%;
font-weight: bold;
}
h3 {
font-size: 120%;
font-weight: bold;
}
h4 {
font-size: 100%;
font-weight: bold;
}
h5 {
font-size: 90%;
font-weight: bold;
}
h6 {
font-size: 80%;
font-weight: bold;
}
/* stuff in page header */
.topic {
margin-left: 20px;
font-size: 12px;
}
tt, pre {
font-family: "Courier New", Courier, monospace;
}
small {
font-size: 85%;
}
big {
font-size: 110%;
}
#header {
background-image: url(https://s3.amazonaws.com/static.everything2.com/e2_others_02.gif);
background-position: bottom left;
background-repeat: no-repeat;
width: 100%;
position: absolute;
top: 0;
left: 0;
padding-bottom: 8px;
border-top: 5px #003366 solid;
z-index: 100;
/*    background-color: #cccc99;*/
}
#wrapper {
padding-top: 45px;
/*checked out*/
padding-left:7px;
}
.oddrow  {
background-color: #cccc99;
}
.nodetitle {
/*    margin-top: 30px;
margin-left: -5px;*/
}
.actions , .actions li {
display: inline ;
margin: 0 ;
padding: 0 ;
}
.actions .action {
padding-right : 5pt ;
}
#mainbody {
position: relative;
float: left;
width: 100%;
border-right: 2px black solid;
margin-right: -7px;
padding-right: 5px;
}
#mainbody #printlink {display: none;}
#sidebar {
position: relative;
float: left;
width: 160px;
border-left: 2px black solid;
padding-left: 3px;
}
/*Nodelets on right*/
#wrapper {
padding-right: 172px;    
}
#mobilewrapper > #wrapper {
padding-right: 20px;
}
#sidebar {
margin-right: -100%;
margin-left: 5px;
}
/*Nodelets on left*/
/*
#wrapper {
padding-left: 205px;    
}
#sidebar {
right: 205px;
margin-left: -100%;
}
/* html #left {
left: 200px;
}
*/
/*end nodelet layout*/
#footer {
clear: both;
width: 100%;
text-align: center;
padding-top: 2px;
border-top: 5px #003366 solid;
background-color: #cccc99;
}
/* Colours, etc */
body, #sidebar, #wrapper, #mainbody {
color: black;
background-color: white;
}
a:link {
color: #003366;
}
a:visited {
color: #7f7f66;
}
#welcome_message {
float: right;
width: 75%;
margin-top: 3em;
font-weight: bold;
}
#loglinks {
float: right;
width: 75%;
}
#loglinks .linklist {
text-align: center;
}
#loglinks li {
display: inline;
list-style-type: none;
margin-left: -55px;
padding-left: 4em;
padding-right: 4em;
}
#loglinks h3 {
display: none;
}
#cooluserpicks {
float: left;
width: 23.3%;
margin-top: -3em;
}
#cooluserpicks ul li {
border-bottom: solid 3px #000000;
margin-left: -40px;
list-style-type: none;
padding: 3px 0 3px 0;
text-align: center;
}
#cooluserpicks h3 {
font-size: 10.5pt;
margin-left: 0px;
}
#staff_picks {float: left; margin-left: 1.5em; text-align: center; width: 74%;}
#staff_picks li {list-style-type: none; margin-left: -40px;}
#staff_picks .morelink {font-weight: bold; float: right;}
#creamofthecool {
float: left;
}
#creamofthecool h2 a {
font-size: 150%;
}
#creamofthecool_title {
font-size: 18px;
}
#creamofthecool .contentinfo {
padding: 1px;
background-color: #cccc99;
}
#creamofthecool .item {
padding-bottom: 8px;
border-bottom: solid 2px #000000;
}
#creamofthecool .item .contentinfo {
background-color: #cccc99;}
#creamofthecool .item .morelink {font-weight: bold; text-align: right;}
#creamofthecool cite {float: right; font-style: normal;}
.weblog .item{
border-bottom: solid 2px;
margin-bottom: 0.1em;
margin-right:
}
.weblog .item .contentinfo .title,
.weblog .item .contentinfo cite,
.weblog .item .date {
background-color: #cccc99;
}
.weblog .item .contentinfo .title{
float: left;
clear: left;
/*    line-height: 2.36em;*/
line-height: 30px;
margin-top: 0;
width: 70%;
}
.weblog .item .contentinfo cite,
.weblog .item .contentinfo .date{
float: right;
clear: right;
line-height: 15px;
width: 30%;
margin-left: -1px;
border-left: solid 1px;
border-color: white;
}
.weblog .item .content,
.weblog .item .content a,
.weblog .item .content table,
.weblog .morelink,
.weblog .item .content h3{
clear: left;
}
.remove{
margin-bottom: 1em;
}
#frontpage_news .weblog .item .content{
margin-right: -1px;
}
#frontpage_news h2 a {
font-size: 150%;
}
#frontpage_news {
float: left;
}
#frontpage_news_title{
font-size: 12px;
}
#e2logo {
float: left;
margin: 0;
width: 100%;
background-image: url(https://s3.amazonaws.com/static.everything2.com/e2_others_01.gif);
background-color: #cccc99;
background-repeat: no-repeat;
}
#e2logo a {
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
width: 350px;
height: 42px;
display: block;
float: left;
}
#metalinks {
margin: 2px;
padding:  0;
display: block;
.clear: both;
text-align: center;
font-size: 80%;
}
#metalinks li {
display: inline;
padding-right: 5px;
margin-left: 5px;
}
#searchform {
width: 50%;
position: absolute;
right: 10%;
top: 5px;
z-index: 10;
text-align: right;
}
#search_form {width: 100%;}
#searchform form label {
font-size: 75%;
clear: left;
}
#node_search{
margin-right: -3px;
}
#search_submit {
width: 49px;
height: 28px;
border: 0;
background: transparent url(https://s3.amazonaws.com/static.everything2.com/search_button.gif) no-repeat center top;
text-indent: -1000em;
cursor: pointer; /* hand-shaped cursor */
cursor: hand; /* for IE 5.x */
}
.nodelet {
clear: both;
padding: 0 2px;
word-wrap: break-word;
margin-bottom: 2px;
}
.nodelet h2 {
display: block;
margin: 7px -2px 0 -2px;
text-align: center;
font-size: 18px;
font-family: "arial narrow";
background-color: #7E7E66;
color: #CECE9A;
}
#epicenter h2, #chatterbox h2, #otherusers h2, #newwriteups h2, #vitals h2, #readthis h2, #everythingdeveloper h2, #newwriteupszen h2 {
margin-top: -26px;
filter: alpha(opacity=0);
opacity: 0;
}
#epicenter, #chatterbox, #otherusers, #newwriteups, #vitals, #readthis, #everythingdeveloper, #newwriteupszen   {
padding-top: 26px;
background-repeat: no-repeat;    
}
#epicenter {
background-image: url(https://s3.amazonaws.com/static.everything2.com/epicenter.gif);
}
#chatterbox {
background-image: url(https://s3.amazonaws.com/static.everything2.com/chatterbox.gif);    
}
#otherusers {
background-image: url(https://s3.amazonaws.com/static.everything2.com/otherusers.gif);    
}
#vitals {
background-image: url(https://s3.amazonaws.com/static.everything2.com/vitals.gif);
}
#newwriteups {
background-image: url(https://s3.amazonaws.com/static.everything2.com/newwriteups.gif);    
}
#readthis {
background-image: url(https://s3.amazonaws.com/static.everything2.com/readthis.gif);    
}
#everythingdeveloper {
background-image: url(https://s3.amazonaws.com/static.everything2.com/everything_developer.gif);    
}
#newwriteupszen {
background-image: url(https://s3.amazonaws.com/static.everything2.com/newwriteups.gif);
}
#displaytypelinks {
text-align: right;
}
#softlinks {
clear: both;
}
.writeuppage .item {
border-bottom: 1px gray solid;
padding-bottom: 5px;
margin-bottom: 5px;
}
.createdby {
text-align: right;
}
.writeuppage .item .content {
}
#firmlink, #isalso {
font-size: 110%;
text-indent: 30px;
}
#votebutton, #blabbutton {
float: left;
}
#killbutton {
float: right;
}
#msgnum {
margin: 0;
margin-bottom: 5px;
}
#msgunarchived {
font-weight: bold;
}
#homenodepicbox {
width: 50%;
float: left;
clear: left;
overflow: auto;
}
#homenodeheader {
clear: both;
padding: 10px;
}
#homenodeheader dl {
width: 50%;
float: right;
clear: right;
margin: 0;
background: white;
}
#homenodeheader dt {
display: block;
background-color: #cccc99;
padding: 1px;
}
#homenodeheader dd {
margin: 0;
padding: 1px;
text-align: right;
}
hr.clear {
clear: both;
visibility: hidden;    
}
textarea {
width: 100%;
font-family:monospace;
}
#newwriteupszen .nodelet_content {
width: 100%;
}
.infolist .contentinfo {
clear: both;
}
.nodelet .infolist {list-style: none;
margin: 0;
padding: 0;
}
.nodelet .infolist li {
clear: both;
margin: 0;
padding: 0;
}
/*=DISABLED .nodelet .infolist .author*/ {
background-color: #cccc99;
width: 100%;
text-align: center;
display: block;
font-weight: bold;
}
/*=DISABLED .nodelet .infolist .title*/ {
float:left;
width:70%;
}
/*=DISABLED .nodelet .infolist .type*/ {
float:left;
text-align:right;
width:30%;
font-size: 80%;
}
/*=DISABLED .nodelet .infolist .type a*/ {
font-size: 100%;
}
#epicenter_zen {
font-size: 75%;
text-align: center;
width: 100%;
background-color: #cccc99;
position: fixed;
bottom: 0;
margin: 0;
left: 0;
right: 0;
padding: 3px;
font-family: Candara,"Trebuchet MS",sans-serif;
border-top: 1px black solid;
}
#epicenter_zen br {
display: none;
}
#voteInfo {
padding: 0 200px 0 100px;
}
#epicenter_zen a:link {
color: inherit;
}
/* Swap added these for chatterlight */
#chatterlight_mainbody { float: left; width: 70%; margin-left: 1%; margin-right: 1%}
#message {width: 95%;}
#chatterlight_NW { float: left; width: 160px; }
#chatterlight_hints { display: none; }
/*** Mobile bits ***/
#zen_mobiletabs {
padding-left: 4px;
padding-right: 4px;
padding-top: 43px;
margin-bottom: 4px;
margin-top: 0px;
margin-right: 20px;
z-index: 101;
text-align: right;
width: 100%;
}
.zen_mobiletab_selected {
background-color: #cccc99;
padding: 4px;
padding-bottom: 0px
}
.zen_mobiletab {
background-color: white;
padding: 4px;
padding-bottom: 0px;
}
/* SOFTLINK COLORS */
td#sl64{background:#cccc99;}td#sl63{background:#cccc9a;}td#sl62{background:#cdcd9c;}td#sl61{background:#cece9d;}
td#sl60{background:#cfcf9f;}td#sl59{background:#d0d0a1;}td#sl58{background:#d0d0a2;}td#sl57{background:#d1d1a4;}
td#sl56{background:#d2d2a5;}td#sl55{background:#d3d3a7;}td#sl54{background:#d4d4a9;}td#sl53{background:#d4d4aa;}
td#sl52{background:#d5d5ac;}td#sl51{background:#d6d6ae;}td#sl50{background:#d7d7af;}td#sl49{background:#d8d8b1;}
td#sl48{background:#d8d8b2;}td#sl47{background:#d9d9b4;}td#sl46{background:#dadab6;}td#sl45{background:#dbdbb7;}
td#sl44{background:#dcdcb9;}td#sl43{background:#ddddbb;}td#sl42{background:#ddddbc;}td#sl41{background:#dedebe;}
td#sl40{background:#dfdfbf;}td#sl39{background:#e0e0c1;}td#sl38{background:#e1e1c3;}td#sl37{background:#e1e1c4;}
td#sl36{background:#e2e2c6;}td#sl35{background:#e3e3c7;}td#sl34{background:#e4e4c9;}td#sl33{background:#e5e5cb;}
td#sl32{background:#e5e5cc;}td#sl31{background:#e6e6ce;}td#sl30{background:#e7e7d0;}td#sl29{background:#e8e8d1;}
td#sl28{background:#e9e9d3;}td#sl27{background:#e9e9d4;}td#sl26{background:#eaead6;}td#sl25{background:#ebebd8;}
td#sl24{background:#ececd9;}td#sl23{background:#ededdb;}td#sl22{background:#eeeedd;}td#sl21{background:#eeeede;}
td#sl20{background:#efefe0;}td#sl19{background:#f0f0e1;}td#sl18{background:#f1f1e3;}td#sl17{background:#f2f2e5;}
td#sl16{background:#f2f2e6;}td#sl15{background:#f3f3e8;}td#sl14{background:#f4f4e9;}td#sl13{background:#f5f5eb;}
td#sl12{background:#f6f6ed;}td#sl11{background:#f6f6ee;}td#sl10{background:#f7f7f0;}td#sl9{background:#f8f8f2;}
td#sl8{background:#f9f9f3;}td#sl7{background:#fafaf5;}td#sl6{background:#fafaf6;}td#sl5{background:#fbfbf8;}
td#sl4{background:#fcfcfa;}td#sl3{background:#fdfdfb;}td#sl2{background:#fefefd;}td#sl1{background:#ffffff;}