/* 1901810.css (fondue test2 (blue) by fondue - unsupported) */
/* --
A hack on test_ReiToei2 by Robin Clarke/fondue
A work in progress. Colours and positioning are not final, and things WILL be broken.
Issues:
- Stylesheet level:
1. There's sometimes a gap between Cream of The Cool titles and bodies which I've not been able to neutralise.
- Site level:
1. There's a hardcoded bgcolor in writeup lists. Plz fix k thx.
X. At present the 'E2logo' object can be a text link or a linkless image, but not a linked image. - FIXED (thanks RT)
3. Setting the text size to zero to hide the logo text is broken in safari. don't use safari, duh.
4. Control over some of the elements within nodelets might be useful.
5. The 'Welcome to Everything' heading on the front page is treated as a standard node title, limiting formatting options somewhat.
Highlight colour: #A8B5DE
Background colour: #787D9D --- or for sunny: #8693BC
Shadow colour: #2C3E6D
Writeup paper: #CACEE0 --- or for white: #F8F8FF
It can't rain all the time.
-- */
body, div, p, th, td, li, dd {
font-size:small;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
tt { font-size: medium; }
pre { font-size: medium; }
h1 {
font-size:130%;
font-weight:bold;
}
h2 {
font-size:110%;
font-weight:bold;
}
h3 {
font-size:100%;
font-weight:bold;
}
big {
font-size:110%;
}
small {
font-size:90%;
}
hr {
border: 0;
color: #2C3E6D;
background-color: #2C3E6D;
height: 3px;
}
#header {
border-bottom: 1px solid #2C3E6D;
height:64px;
left:0pt;
position:absolute;
top:0pt;
width:100%;
background-color: #FFA200;
background-image: url(https://s3.amazonaws.com/static.everything2.com/fonduetest2/e2logo_blue_slice.jpg);
background-repeat: repeat-x;
}
#wrapper {
padding-top:40px;
}
#mainbody {
float:left;
position:relative;
width:100%;
}
#sidebar {
float:left;
position:relative;
width:190px;
margin-top: 20px;
}
#wrapper {
padding-top:50px;
padding-right:205px;
}
#sidebar {
margin-left:5px;
margin-right:-100%;
}
#footer {
clear:both;
padding-top:8px;
text-align:right;
width:100%;
}
body {
background-color: #787D9D;
color:black;
}
a:link {
color:#333399;
}
a:visited {
color:#3F3A6C;
}
pre {
display:block;
overflow:auto;
}
/* --
#e2logo {
float:left;
font-size: 0px;
font-weight: bold;
font-color: #FFEC28;
margin-left:8px;
text-align:left;
background-image: url(https://s3.amazonaws.com/static.everything2.com/fonduetest2/e2logo_blue.jpg);
background-repeat: no-repeat;
width: 150px;
height: 64px;
}
#e2logo a:link, #e2logo a:visited {
text-decoration:none;
}
-- */
div#e2logo {
margin: 0px;
padding: 0px;
}
div#e2logo a {
background-color: #FFFFFF;
background-image: url(https://s3.amazonaws.com/static.everything2.com/fonduetest2/e2logo_blue.jpg);
background-repeat: no-repeat;
width: 150px;
height: 64px;
font-size: 0px;
display: block;
margin: 0px;
padding: 0px;
}
#e2logo {
float:left;
font-size:200%;
margin-left:8px;
text-align:left;
}
#e2logo a:link, #e2logo a:visited {
color:black;
text-decoration:none;
}
#metalinks {
clear:both;
display:block;
font-size:80%;
margin:2px;
padding:0pt;
text-align:center;
}
#metalinks li {
display:inline;
margin-left:5px;
padding-right:5px;
}
#searchform {
float:right;
padding-top:18px;
text-align:right;
width:410px;
}
#searchform input {
float:left;
margin-top:8px;
}
#searchform label {
clear:right;
display:block;
float:right;
font-size:85%;
text-align:left;
color: #A8B5DE;
width:100px;
}
#searchform label input {
margin:1px;
}
.nodelet {
border-style: solid;
border-color: #2C3E6D;
border-width: 0px 3px 3px;
clear:both;
margin-bottom:2px;
padding:0pt 2px;
width:196px;
background-image: url(x);
background-repeat: repeat-x;
background-color: #787D9D;
}
.nodelet h2 {
background-image: url(x);
background-repeat: no-repeat;
background-color: #2C3E6D;
font-variant: small-caps;
color: #A8B5DE;
display:block;
margin: 0px -2px;
padding-top: 5px;
height: 20px;
text-align:center;
}
.nodelet_content {
padding: 4px;
font-size: 85%;
}
.writeup {
clear: right;
border-top: 0px solid #000000;
border-left: 0px solid #000000;
border-right: 1px solid #2C3E6D;
border-bottom: 2px solid #2C3E6D;
background-color: #CACEE0;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom:5px;
margin-left: 30px;
}
.createdby {
float: right;
background-color: #CACEE0;
border-right: 1px solid #2C3E6D;
width:15%;
font-size: 85%;
text-align:right;
margin-left: 30px;
padding-right: 5px;
}
.writeup_title {
}
.writeup_text {
}
#firmlink, #isalso {
font-size:110%;
text-indent:30px;
}
#votebutton, #blabbutton {
float:left;
}
#killbutton {
float:right;
}
#msgnum {
margin:0pt 0pt 5px;
}
#msgunarchived {
font-weight:bold;
}
#homenodepicbox {
clear:left;
float:left;
overflow:auto;
width:50%;
}
#homenodeheader {
clear:both;
}
#homenodeheader dl {
clear:right;
display:block;
float:right;
margin:0pt;
width:50%;
}
#homenodeheader dt {
background-color: #A8B5DE;
background-image: url(https://s3.amazonaws.com/static.everything2.com/fonduetest2/e2_stripez.jpg);
padding: 2px;
display:block;
}
#homenodeheader dd {
margin:0pt;
padding:2px;
}
hr.clear {
clear:both;
visibility:hidden;
}
textarea {
width:100%;
}
#welcome_message {
display: none;
}
#creamofthecool {
display: none;
}
#writeup_list {
list-style-type:none;
padding:0pt;
}
#writeup_list li {
clear:both;
}
#writeup_list span.writeupmeta {
background-color:gray;
clear:both;
color:white;
display:block;
margin:0pt -1px;
padding:2px;
text-align:center;
}
#writeup_list span.writeupmeta a:link, #writeup_list span.writeupmeta a:visited {
color:white;
}
#writeup_list span.type {
clear:right;
display:block;
font-size:90%;
margin-bottom:1px;
text-align:right;
}
#writeup_list span.title {
clear:left;
display:block;
float:left;
margin-bottom:1px;
}
#writeup_list span.author {
}
#writeup_list span.hidden, #writeup_list span.hide {
font-size:85%;
margin-left:3px;
}
td.oddrow {
background-color: #A8B5DE;
background-image: url(https://s3.amazonaws.com/static.everything2.com/fonduetest2/e2_stripez.jpg);
padding: 2px;
}
h1.nodetitle {
font: bold 1.8em "trebuchet ms";
letter-spacing: 0.12pt;
color: #2C3E6D;
padding-left: 30px;
padding-top: 10px;
}
#cooluserpicks {
background-image: url(x);
background-repeat: no-repeat;
float: left;
background-color: #787D9D;
width: 215px;
padding: 0px;
background-position: 0px 30px;
margin-right: 10px;
margin-left: 10px;
border-style: solid;
border-color: #2C3E6D;
border-width: 0px 3px 3px;
}
#cooluserpicks ul {
margin: 0px;
padding: 4px;
}
#cooluserpicks h3 {
background-image: url(x);
background-repeat: no-repeat;
background-color: #2C3E6D;
font-size: medium;
font-variant: small-caps;
text-align: center;
color: #A8B5DE;
margin: 0px;
padding-top: 5px;
padding-bottom: 5px;
height: 20px;
width: 215px;
}
#cooluserpicks ul li {
list-style-type: none;
padding-bottom: 5px;
font-weight: bold;
text-align: right;
padding-right: 20px;
padding-top: 5px;
background-color: #787D9D;
}
.cotc_entry {
}
.cotc_info {
display: block;
clear:left;
margin-bottom: 0px;
background-image: url(x);
background-repeat: no-repeat;
background-color: #CACEE0;
padding-left: 20px;
padding-top: 5px;
font-weight: normal;
font-size: large;
word-spacing: -1px;
border-right: 1px solid #51546A;
}
.cotc_text {
display: block;
clear:left;
margin-top: 0px;
padding-left: 20px;
padding-bottom: 10px;
background-color: #CACEE0;
border-right: 1px solid #51546A;
border-bottom: 2px solid #51546A;
}/* SOFTLINK COLORS */
td#sl64{background:#a8b5de;}td#sl63{background:#a7b4dc;}td#sl62{background:#a6b3db;}td#sl61{background:#a5b2da;}
td#sl60{background:#a4b1d9;}td#sl59{background:#a4b0d8;}td#sl58{background:#a3afd7;}td#sl57{background:#a2aed6;}
td#sl56{background:#a1add5;}td#sl55{background:#a1add4;}td#sl54{background:#a0acd3;}td#sl53{background:#9fabd2;}
td#sl52{background:#9eaad1;}td#sl51{background:#9ea9d0;}td#sl50{background:#9da8cf;}td#sl49{background:#9ca7ce;}
td#sl48{background:#9ba6cd;}td#sl47{background:#9ba5cc;}td#sl46{background:#9aa5cb;}td#sl45{background:#99a4ca;}
td#sl44{background:#98a3c9;}td#sl43{background:#98a2c8;}td#sl42{background:#97a1c7;}td#sl41{background:#96a0c6;}
td#sl40{background:#959fc5;}td#sl39{background:#949ec4;}td#sl38{background:#949dc3;}td#sl37{background:#939dc2;}
td#sl36{background:#929cc1;}td#sl35{background:#919bc0;}td#sl34{background:#919abf;}td#sl33{background:#9099be;}
td#sl32{background:#8f98bc;}td#sl31{background:#8e97bb;}td#sl30{background:#8e96ba;}td#sl29{background:#8d95b9;}
td#sl28{background:#8c95b8;}td#sl27{background:#8b94b7;}td#sl26{background:#8b93b6;}td#sl25{background:#8a92b5;}
td#sl24{background:#8991b4;}td#sl23{background:#8890b3;}td#sl22{background:#888fb2;}td#sl21{background:#878eb1;}
td#sl20{background:#868db0;}td#sl19{background:#858daf;}td#sl18{background:#848cae;}td#sl17{background:#848bad;}
td#sl16{background:#838aac;}td#sl15{background:#8289ab;}td#sl14{background:#8188aa;}td#sl13{background:#8187a9;}
td#sl12{background:#8086a8;}td#sl11{background:#7f85a7;}td#sl10{background:#7e85a6;}td#sl9{background:#7e84a5;}
td#sl8{background:#7d83a4;}td#sl7{background:#7c82a3;}td#sl6{background:#7b81a2;}td#sl5{background:#7b80a1;}
td#sl4{background:#7a7fa0;}td#sl3{background:#797e9f;}td#sl2{background:#787d9e;}td#sl1{background:#787d9d;}