/* 1903725.css (Maroon by not_crazy_yet - unsupported) */
body,
th,
td {
background-color: #400000;
color: #ffffff;
font-family: verdana, arial, sans-serif;
font-size: 10px;
padding: 0;
margin: 0;
}
td {
background-color: transparent;
}
.oddrow {
background-color: #7a7773;
}
a:link {
color: #d0d0d9;
}
a:visited {
color: #cfa77f;
}
a:active,
a:hover,
a:focus {
color: #B22222;
}
big {
font-size: 110%;
}
small {
font-size: 90%;
}
h1,h2,h3,h4,h5,h6 {
color: #9898b2;
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}
h1 {
font-size: 140%;
font-weight: bold;
}
h2 {
font-size: 110%;
font-weight: bold;
}
form {
margin: 0;
padding: 0;
}
#wrapper {
margin: 0px 0px 0px 0px;
padding-top: 56px; /* header goes in this gap */
padding-right: 260px; /* sidebar goes in this gap */
}
#mainbody {
font-size: 110%;
position: relative;
float: left;
width: 100%;
}
#mainbody *:first-child {
margin-top: 0;
}
.nodetitle {
background-color: #223322;
color: white;
font-size: 30px;
font-face: arial, sans-serif;
padding: 20px;
font-weight: normal;
margin: 0;
}
.nodetitle:before {
content: "\'";
}
.nodetitle:after {
content: "\'";
}
/*** FRONT PAGE SPECIFIC ***/
#cooluserpicks,
#welcome_message,
#creamofthecool {
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 20px;
}
#cooluserpicks,
.cotc_entry {
width: 250px;
background-color: #400000;
border: 1px solid #c3c3c3;
padding: 5px;
}
#cooluserpicks {
}
#cooluserpicks ul {
padding: 0;
margin: 5px;
list-style: none outside none;
}
#cooluserpicks li {
padding: 1px;
border-bottom: 1px solid #d3d3d3;
text-align: center;
margin: 0;
}
#cooluserpicks li a {
padding: 1px;
display: block;
text-decoration: none;
}
#cooluserpicks li a:hover {
}
#welcome_message {
width: 252px;
text-align: center;
border: 1px solid #d3d3d3;
padding: 5px;
font-size: 120%;
font-weight: bold;
}
#creamofthecool {
padding: 0;
}
#creamofthecool h2 {
text-align: center;
font-size: 130%;
margin: 20px 0 2px;
}
#creamofthecool table {
border-collapse: collapse;
}
#cotc {
}
.cotc_entry {
margin: 2px 0;
}
.cotc_info {
font-weight: bold;
font-size: 100%;
padding-bottom: 5px;
border-bottom: 1px solid #d3d3d3;
margin-bottom: 5px;
}
.cotc_text {
}
.cotc_more {
text-align: right;
}
#frontpage_news {
padding-left: 280px; /* cotc etc. (above) go in this gap */
font-size: 110%;
}
#frontpage_news h2 {
font-size: 150%;
}
/* news entries resemble writeups: */
.weblog_item {
margin: 20px 0 60px;
}
.wl_title {
font-weight: bold;
font-size: 130%;
}
.wl_author {
display: inline;
}
.wl_author:before {
content: "by ";
}
.wl_date {
display: inline;
}
.wl_date:before {
content: " on ";
}
.wl_remove {
display: inline;
}
.wl_text {
margin-top: 2px;
border-top: 1px solid #333333;
padding-top: 2px;
}
/*** END FRONT PAGE ***/
/*** REGULAR NODES ***/
#firmlink,
#isalso,
.createdby,
.topic {
background-color: #223322;
color: #ffffff;
margin: 0;
padding: 0 20px;
font-size: 11px;
font-weight: normal;
}
.writeup {
}
.writeup_title {
background-color: #000000;
font-size: 12px;
padding: 20px;
}
.writeup_title a {
text-decoration: none;
color: #ffffff;
}
.writeup_title td {
vertical-align: center;
}
.writeup_title td strong {
font-weight: normal;
font-size: 20px;
}
.writeuptable {
width: 100%;
}
.writeup_text {
padding: 20px;
background-color: #000000;
}
h3 {
font-size: 100%;
font-weight: bold;
}
p {
margin: 10px 0;
}
pre {
/* to stop page-widening */
display: block;
overflow: auto;
}
#displaytypelinks {
margin: 5px 0;
font-size: 90%;
text-align: right;
}
#displaytypelinks p {
display: inline;
}
#killbutton,
#votebutton,
#blabbutton {
float: centre;
margin: 5px 0;
}
#softlinks {
margin: 5px 0;
clear: both;
}
#softlinks table {
border-collapse: collapse;
}
#softlinks td {
border: 1px solid #d3d3d3;
padding: 0;
}
#softlinks td a {
display: block;
padding: 5px;
height: 100%;
}
#softlinks td a:hover {
}
textarea {
width: 100%;
}
.writeup_add {
margin: 20px 0;
}
/*** END REGULAR NODES ***/
/*** HOMENODES ***/
#homenodeheader {
margin-top: 20px;
}
#homenodepicbox {
width: 50%;
overflow: auto;
float: left;
}
#userimage {
}
#homenodeheader dl {
width: 250px;
float: right;
display: block;
}
#homenodeheader dt {
display: block;
background-color: #7a7773;
padding: 2px;
font-size: 90%;
}
#homenodeheader dd {
padding: 2px;
margin: 0;
text-align: right;
font-size: 90%;
}
hr.clear {
display: none;
/*
I can only find one place where hr.clear appears
so I don't know if this will break other pages
clear: both;
visibility: hidden;
*/
}
#homenodetext {
clear: both;
}
#bookmarks {
}
#bookmarks h4 {
}
#bookmarks ul {
}
#bookmarks li {
}
/*** END HOMENODES ***/
#sidebar {
float: left;
margin-left: 0px;
width: 250px;
margin-right: -100%;
}
.nodelet {
clear: both;
padding: 0;
border: 1px #6f6f8d dotted;
word-wrap: break-word;
margin-bottom: 2px;
}
.nodelet h2 {
display: block;
background-color: #223322;
margin: 0;
padding: 0 5px;
color: #ffffff;
}
.nodelet_content {
padding: 5px;
}
#experience {
font-size: 12px;
}
/*** NEW WRITEUPS ZEN NODELET ***/
#writeup_list {
margin: 0;
padding: 0;
list-style: none outside none;
}
#writeup_list li {
margin: 0;
padding: 1px;
border-bottom: 1px solid #d3d3d3;
}
#writeup_list span.writeupmeta {
display: block;
}
#writeup_list span.author {
float: right;
font-size: 90%;
}
#writeup_list span.author:before {
content: "by ";
}
#writeup_list span.title {
}
#writeup_list span.title a {
text-decoration: none;
}
#writeup_list span.title a:hover {
}
#writeup_list span.type {
display: none;
}
#writeup_list span.hidden,
#writeup_list span.hide {
font-size: 90%;
}
/*** END NEW WRITEUPS ZEN NODELET ***/
/*** EPICENTER NODELET (#262) ***/
#nodelet_262 ul {
margin: 5px;
padding: 0;
list-style: disc inside circle;
}
#nodelet_262 li {
margin: 5px;
}
/*** END EPICENTER NODELET ***/
/*** CHATTERBOX NODELET (#170070) ***/
#msgnum {
display: inline;
}
#nodelet_170070 .nodelet_content {
overflow: auto;
}
/*** END CHATTERBOX NODELET ***/
#header {
height: 55px;
position: absolute;
top: 0;
left: 0;
background-color: #2F4F4F;
border-bottom: 0px #800000 solid;
width: 100%;
}
#searchform {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
width: 50%;
padding: 10px 0 10px 20px;
}
#searchform label {
display: none;
}
#e2logo {
margin: 0;
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 50%;
font-family: ScriptS, Verdana, Helvetica, Arial;
text-align: right;
font-size: 30px;
padding: 10px;
font-weight: bold;
}
#e2logo a:link,
#e2logo a:visited {
color: #fefeff;
text-decoration: none;
}
#footer {
clear: both;
border-top: 1px #bebebe solid;
background-color: #440000;
padding: 5px;
text-align: right;
font-size: 90%;
}
.begheader {
}
#metalinks {
display: inline;
}/* SOFTLINK COLORS */
td#sl64{background:#7a7773;}td#sl63{background:#797571;}td#sl62{background:#78736f;}td#sl61{background:#77716d;}
td#sl60{background:#766f6b;}td#sl59{background:#756d69;}td#sl58{background:#746b68;}td#sl57{background:#736966;}
td#sl56{background:#726764;}td#sl55{background:#716662;}td#sl54{background:#706460;}td#sl53{background:#6f625e;}
td#sl52{background:#6e605d;}td#sl51{background:#6e5e5b;}td#sl50{background:#6d5c59;}td#sl49{background:#6c5a57;}
td#sl48{background:#6b5855;}td#sl47{background:#6a5653;}td#sl46{background:#695552;}td#sl45{background:#685350;}
td#sl44{background:#67514e;}td#sl43{background:#664f4c;}td#sl42{background:#654d4a;}td#sl41{background:#644b49;}
td#sl40{background:#634947;}td#sl39{background:#624745;}td#sl38{background:#624543;}td#sl37{background:#614441;}
td#sl36{background:#60423f;}td#sl35{background:#5f403e;}td#sl34{background:#5e3e3c;}td#sl33{background:#5d3c3a;}
td#sl32{background:#5c3a38;}td#sl31{background:#5b3836;}td#sl30{background:#5a3634;}td#sl29{background:#593433;}
td#sl28{background:#583331;}td#sl27{background:#57312f;}td#sl26{background:#572f2d;}td#sl25{background:#562d2b;}
td#sl24{background:#552b29;}td#sl23{background:#542928;}td#sl22{background:#532726;}td#sl21{background:#522524;}
td#sl20{background:#512322;}td#sl19{background:#502220;}td#sl18{background:#4f201f;}td#sl17{background:#4e1e1d;}
td#sl16{background:#4d1c1b;}td#sl15{background:#4c1a19;}td#sl14{background:#4b1817;}td#sl13{background:#4b1615;}
td#sl12{background:#4a1414;}td#sl11{background:#491212;}td#sl10{background:#481110;}td#sl9{background:#470f0e;}
td#sl8{background:#460d0c;}td#sl7{background:#450b0a;}td#sl6{background:#440909;}td#sl5{background:#430707;}
td#sl4{background:#420505;}td#sl3{background:#410303;}td#sl2{background:#400101;}td#sl1{background:#400000;}