/*= autofix added rules. adjust to taste: */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
.actions , .actions li {display:inline;margin:0;padding:0 0.5em 0 0;}
.actions { display: block ; }
/*= end autofix added rules */

/* [GunpowderGreen]'s Theme. */

/* Not all elements are defined in this file... */
/*The basics*/
body {
	font-family:  georgia, times, serif;
	font-size: 1em; 
}

h1 {
	font-size: 150%;
	font-weight: bold;
}

h2 {
	font-size: 110%;
	font-weight: bold;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

big {
	font-size: 120%;
	line-height:120%;
}

big big big big big big big {
	font-size:inherit;
}

small {
	font-size: 80%;
}

/*Basic structure: this is based on ALA's 'Holy Grail' design. */

#header {
	height: 56px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	border-bottom: 3px #063 outset;
	background-color:#143;
	color:white;
	font-size:0.8em;
}

#wrapper {
	padding-top: 60px;
}

#mainbody {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 2em;
}

#sidebar {
	position: relative;
	float: left;
	width: 190px;
}

/*Nodelets on right*/

#wrapper {
	padding-right: 232px;	
}

#sidebar {
	margin-right: -100%;
	margin-left: 5px;
}


/*Nodelets on left*/
/*
#wrapper {
	padding-left: 205px;	
}

#sidebar {
	right: 205px;
	margin-left: -100%;
}
* html #left {
	left: 200px;
}

*/
/*end nodelet layout*/ 

#footer {
	clear: both;
	width: 100%;
	border-top: 3px gray double;
	text-align: center;
	padding-top: 2px;
	margin-top:8px;
}

/* Colours, etc */
body {
	color: black;
	background-color: white;
}

a {
	color: #063;
	text-decoration:none;
}

a:visited {
	color: #093;
}

a:hover {
	border-bottom: 1px solid #0a3;
}

.nodeshell a {
	color: #687;
}

/* specifics */

pre {
/* to stop page-widening */
	display: block;
	overflow: auto;
}

#e2logo {
	float: left;
	text-align: left;
	font-size: 180%;
	margin-left: 16px;
}

#metalinks {
	margin: 2px;
	padding:  0;
	display: block;
	clear: both;
	text-align: center;
	font-size: 80%;
}

#metalinks li {
	display: inline;
	padding-right: 5px;
	margin-left: 5px;
}

#e2logo a:link, #e2logo a:visited {
	text-decoration: none;
	font-weight: bold;
	color:white;
}

#searchform {
	width: 420px;
	float: right;
	text-align: right;
	padding-top: 5px;
}

#searchform input {
	float: left;
	margin-top: 5px;
}

#searchform label {
	display: block;
	font-size: 85%;
	float: right;
	clear: right;
	text-align: left;
	width: 100px;
}

#searchform label input {
	margin: 1px;
}

label {
white-space:nowrap;
}

.nodelet {
	clear: both;
	padding-top: 1px;
	padding-right: 3px;
	padding-left: 3px;
	border: 3px #063 inset;
	word-wrap: break-word;
	margin-bottom: 2px;
	font-size:95%;
	line-height:120%;
}

.nodelet_content {
	padding: 5px;
}

.nodelet h2 {
	display: block;
	margin: 0 -2px;
	text-align: center;
	background-color: #143;
	color: white;
    padding: 2px;
}

.nodelet .infolist .contentinfo {
    background-color: white;
    border-bottom: 1px dotted #9cc;
    color: black;
    padding: 3px;
    text-align: center;
}

.writeuppage .item {
	border: 3px #063 outset;
	padding: 1px;
	margin: 8px auto;
	font-size:0.95em;
	width:40em;
}

.writeuppage .item .content {
	padding: 16px;
}

.writeuppage .item .content p {
	text-indent: 1em;
	margin:0.6em;
	line-height:120%;
        overflow-x:auto;
        overflow-y:hidden;
}

.createdby {
	text-align: right;
	font-size:90%;
}

.wu_header {
	background-color:#143;
	color:white;
	padding:2px;
	display:block;
	text-align:center;
}
.wu_header td{
	padding:2px 6px;
}
.wu_header a {
	font:bold;
	color:white;
}

.wu_footer {
	background-color:#143;
	color:white;
	padding:2px;
	display:block;
	text-align:center;
}
.wu_footer a {
	font:bold;
	color:white;
}
.wu_footer .widget a {
	font:bold;
	color:#096;
}

.wu_footer td{
    display: teable-cell;
	padding:2px 6px;
    width:8em;
}




#firmlink, #isalso {
	font-size: 110%;
	text-indent: 30px;
}

#votebutton, #blabbutton {
	// float: left;
}

#killbutton {
	float: right;
}

#msgnum {
	margin: 0;
	margin-bottom: 5px;
}

#msgunarchived {
	font-weight: bold;
}

#homenodepicbox {
	width: 50%;
	float: left;
	clear: left;
	overflow: auto;
}

#homenodeheader {
	clear: both;
}

#homenodeheader dl {
	display: block;
	width: 50%;
	float: right;
	clear: right;
	margin: 0;
}

#softlinks td {
    background:#999;
}
div#softlinks {
    border:outset 2px #096;
    padding:2px;
    margin:8px;
}
#homenodeheader dt {
	display: block;
	background-color: #369;
	padding: 2px;
}

#homenodeheader dd {
	margin: 0;
	padding: 2px;
}


#epicenter_zen {
	float:right;
}

hr.clear {
	clear: both;
	visibility: hidden;	
}

textarea {
	width: 100%;
}

.nodelet .infolist {
	list-style-type: none;
	padding: 0;
    border-top:1px dashed #99CCCC;
    background:white;
    color:black;
    margin-top:9px;
}

.nodelet .infolist li {
	clear: both;
	word-wrap: break-word;
    padding: 1px;}

.nodelet .infolist span.hidden, .nodelet .infolist span.hide {
	font-size: 85%;
	margin-left: 3px;
	display:inline;
}


.nodelet .infolist li a {
	display: inline;
	padding: 0;
	background:white;
	color:black;
}




#creamofthecool .morelink {
	margin-top:-0.5em;
	margin-bottom:1em;
}



#homenodeheader {
	font-size:90%;
}

#homenodeheader dt {
	background-color:#143;
	color:white;
	font-weight:bold
	padding:3px;
}



#cooluserpicks {
	width:67%;
	float:left;
}

#creamofthecool {
	width:45%;
	margin:auto;
	border:3px outset #063;
	float:right;
	padding:8px;
	padding-top:0px;
}

#frontpage_news {
	width:45%;
	float:left;
	border:3px outset #063;
	padding:8px;
	padding-top:0px;
}

#loglinks td {
	text-align:center;
}