@import url("1965235.css");

/* 1926578-var.css (Cool understatement by DonJaime - CSS Variables Edition) */
/* This is a CSS variable-based version for A/B testing with ?csstest=1 */

:root {
  /* Theme-specific variables will be added as colors are identified */
  /* For now, this version matches the original stylesheet */
}
/* LINKS */
:link {
color: #009 ;
}
:visited {
color: #415 ;
}
a:active, a:hover {
color: #700 ;
}
#softlinks a:hover , #softlinks td:hover {
color: #229 ;
background-color: #f4f8ef ;
}
/* OTHER COLOURS */
body , #search_form , .slend{
background-color: #fefeff ;
color: black ;
}
div, p, li, dd , .oddrow {
background-color: transparent ;
}
#header , #chatterlight_search , #e2logo a:after , .nodelet h2 ,
#loglinks h3 , #cooluserpicks h3 , #staff_picks h3 , #creamofthecool h3 ,
#everythinguserpoll #mainbody img.oddrow , #currentuserpoll img.oddrow {
background: #456 ;
}
#creamofthecool #cotc h3 {
background: white ;
}
#e2logo :link , #e2logo :visited , #e2logo a:hover #e2logo2 {
color: white ;
}
#e2logo a:hover , #e2logo2 {
color: #ff9 ;
}
.nodelet h2 ,#loglinks h3 ,
#cooluserpicks h3 , #creamofthecool h3 a:link , #creamofthecool h3 :visited ,
#staff_picks h3 {
color: #e8ecef ;
}
#creamofthecool #cotc h3 :link , #creamofthecool #cotc h3 :visited {
color: black ;
}
body , div , span , p , li , ul , ol , dd , dt , table , tr , td , a , h1 , h2 , h3 , form ,
:before , :after {	/* should be every border */
border-color: #456 ;
}
#search_form {
border-color: #8ac ;
}
#softlinks table, #sl1 {
background-color: #e8ecef ;
}
#sl64 {
background: #8ac;
}
#softlinks td {
border-style: solid ;
border-color: #f8fcff ;
}
/* SOFTLINK COLORS */
td#sl64{background:#88aacc;}td#sl63{background:#89abcc;}td#sl62{background:#8baccd;}td#sl61{background:#8cadcd;}
td#sl60{background:#8eaece;}td#sl59{background:#8fafce;}td#sl58{background:#91b0cf;}td#sl57{background:#92b1cf;}
td#sl56{background:#94b2d0;}td#sl55{background:#95b3d1;}td#sl54{background:#97b4d1;}td#sl53{background:#98b5d2;}
td#sl52{background:#9ab6d2;}td#sl51{background:#9bb7d3;}td#sl50{background:#9db8d3;}td#sl49{background:#9eb9d4;}
td#sl48{background:#a0bad4;}td#sl47{background:#a1bbd5;}td#sl46{background:#a3bcd6;}td#sl45{background:#a4bdd6;}
td#sl44{background:#a6bed7;}td#sl43{background:#a8c0d7;}td#sl42{background:#a9c1d8;}td#sl41{background:#abc2d8;}
td#sl40{background:#acc3d9;}td#sl39{background:#aec4d9;}td#sl38{background:#afc5da;}td#sl37{background:#b1c6db;}
td#sl36{background:#b2c7db;}td#sl35{background:#b4c8dc;}td#sl34{background:#b5c9dc;}td#sl33{background:#b7cadd;}
td#sl32{background:#b8cbdd;}td#sl31{background:#baccde;}td#sl30{background:#bbcdde;}td#sl29{background:#bdcedf;}
td#sl28{background:#becfe0;}td#sl27{background:#c0d0e0;}td#sl26{background:#c1d1e1;}td#sl25{background:#c3d2e1;}
td#sl24{background:#c4d3e2;}td#sl23{background:#c6d4e2;}td#sl22{background:#c8d6e3;}td#sl21{background:#c9d7e3;}
td#sl20{background:#cbd8e4;}td#sl19{background:#ccd9e5;}td#sl18{background:#cedae5;}td#sl17{background:#cfdbe6;}
td#sl16{background:#d1dce6;}td#sl15{background:#d2dde7;}td#sl14{background:#d4dee7;}td#sl13{background:#d5dfe8;}
td#sl12{background:#d7e0e8;}td#sl11{background:#d8e1e9;}td#sl10{background:#dae2ea;}td#sl9{background:#dbe3ea;}
td#sl8{background:#dde4eb;}td#sl7{background:#dee5eb;}td#sl6{background:#e0e6ec;}td#sl5{background:#e1e7ec;}
td#sl4{background:#e3e8ed;}td#sl3{background:#e4e9ed;}td#sl2{background:#e6eaee;}td#sl1{background:#e8ecef;}
