/* 1928497.css (bookworm by ascorbic - unsupported) */
/*The basics*/
body, table, td, th {
font-family: Georgia,"Hoefler Text","Times New Roman",Times,serif;
font-size: 13px;
/* This is a starting point: use relative for the rest */
word-wrap: break-word;
}
h1.nodetitle {
font-family: Candara,"Trebuchet MS",sans-serif;
font-size: 24px;
}
div#e2logo {
font-family: "Zapfino";
font-size: 18px;
margin-top: -5px;
font-weight: normal;
}
h2 {
font-family: Candara,"Trebuchet MS",sans-serif;
font-size: 120%;
font-weight: bold;
}
/* User-submitted h1s converted to h2 for SEO - style them like h1s */
h2.user-h1 {
font-size: 24px;
}
h3 {
font-size: 100%;
font-weight: bold;
}
big {
font-size: 110%;
}
small {
font-size: 90%;
}
/*Basic structure: this is based on ALA's 'Holy Grail' design. */
#header {
height: 30px;
position: absolute;
padding: 5px 0;
top: 3px;
left: 0;
right: 261px;
z-index: 100;
}
#wrapper {
margin: -5px 10px;
overflow: hidden;
}
#mainbody {
position: relative;
width: 100%;
background-color: white;
border-top: none;
float: left;
padding: 50px 10px 10px 5px;
}
#sidebar {
position: relative;
float: left;
width: 240px;
}
/*Nodelets on right*/
#wrapper {
padding-right: 265px;
}
#sidebar {
margin-right: -100%;
margin-left: 5px;
}
/*Nodelets on left*/
/*
#wrapper {
padding-left: 205px;
}
#sidebar {
right: 215px;
margin-left: -100%;
}
* html #left {
left: 200px;
}
*/
/*end nodelet layout*/
#footer {
clear: both;
width: 100%;
border-top: 1px #193441 solid;
text-align: center;
padding-top: 2px;
margin-top: 5px;
font-size: 85%;
}
/* Colours, etc */
body {
color: #193441;
background-color: #FCFFF5;
}
a:link {
color: #333399;
}
a:link.external {
color: #339933;
}
a:visited {
color: #993333;
}
.oddrow {
background-color: #D1DBBD;
}
/* specifics */
/* drop cap*/
.writeup_text:first-letter  {
font-size: 48px;
float: left;
line-height: 60px;
margin: -5px 10px 0 0;
text-decoration: none !important;
color: #193441 !important;
font-weight: normal !important;
}
#e2logo {
float: left;
text-align: left;
font-size: 150%;
margin: 5px 0 0 20px;
display: block;
}
#e2logo a:link, #e2logo a:visited {
color: #193441;
}
#metalinks {
margin: 2px;
padding:  0;
display: block;
clear: both;
text-align: center;
font-size: 80%;
}
#metalinks li {
display: inline;
padding-right: 5px;
margin-left: 5px;
}
#e2logo a:link, #e2logo a:visited {
text-decoration: none;
}
#searchform {
float: right;
text-align: right;
padding: 0 5px 5px 0;
width: 450px;
font-family: Candara, "Trebuchet MS", sans-serif;
}
#searchform input {
float: left;
margin-top: 4px;
}
#searchform label {
display: block;
font-size: 9px;
float: right;
clear: right;
width: 100px;
text-align: left;
}
#searchform input {
background-color: #D1DBBD;
color: #369;
margin-right: 2px;
}
#searchform input[type=checkbox] {
margin-top: -1px;
height: 10px;
}
.nodelet {
clear: both;
width: 232px;
padding: 0 2px;
word-wrap: break-word;
margin-bottom: 2px;
background-color: #D1DBBD;
font-size: 90%;
font-family: Candara, "Trebuchet MS", sans-serif;
}
.nodelet td {
font-size: 90%;
}
.nodelet h2 {
display: block;
margin: 0 -2px;
text-align: center;
padding: 1px 0 2px 0;
background-color: #91AA9D;
}
.nodelet ol, .nodelet ul {
padding-left: 25px;
}
.writeup {
border-bottom: 1px #193441 solid;
padding-bottom: 5px;
margin-bottom: 5px;
}
.createdby {
text-align: right;
}
.writeup_title {
}
.writeup_text {
overflow: auto;
}
#firmlink, #isalso {
font-size: 110%;
text-indent: 30px;
}
#votebutton, #blabbutton {
float: left;
}
#killbutton {
float: right;
}
#msgnum {
font-family: Candara,"Trebuchet MS",sans-serif;
padding: 2px;
text-align: center;
word-wrap: break-word;
margin: 0 0 2px 0;
background-color: #D1DBBD;
display: block;
width: 232px;
font-size: 90%;
}
#msgunarchived {
font-weight: bold;
}
#homenodepicbox {
width: 50%;
float: left;
clear: left;
overflow: auto;
}
#homenodeheader {
clear: both;
}
#homenodeheader dl {
display: block;
width: 50%;
float: right;
clear: right;
margin: 0;
}
#homenodeheader dt {
display: block;
background-color:  #193441;
padding: 2px;
color: white;
}
#homenodeheader dd {
margin: 0;
padding: 2px;
}
hr.clear, hr#endwrapper {
clear: both;
visibility: hidden;
}
textarea {
width: 100%;
background-color: #efe;
font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace;
}
#writeup_list {
list-style-type: none;
padding: 0;
}
#nodelet_1322699 ol, #nodelet_1855429 ol {
padding-left: 25px;
}
#writeup_list li {
clear: both;
word-wrap: break-word;
}
#writeup_list span.writeupmeta {
display: block;
text-align: center;
padding: 2px;
clear: both;
background-color: #D1DBBD;
margin: 1px -2px;
border-top: 1px #193441 solid;
}
.wu_hide {
opacity: .5;
filter: alpha(opacity=50);
}
.wu_hide:hover {
opacity: 1;
filter: alpha(opacity=100);
}
#writeup_list span.type {
font-size: 90%;
float: right;
margin-top: -1.5em;
}
#writeup_list span.title {
display: block;
clear: both;
margin-bottom: 1px;
background-color: #eeffee;
}
#writeup_list span.author {
}
#writeup_list span.hidden, #writeup_list span.hide {
font-size: 85%;
/*	display: block;*/
margin-left: 3px;
}
/* Stop ugly formatting! */
blockquote {
margin: 0;
border-left: 5px #ddd solid;
padding-left: 8px;
}
blockquote p[align=justify] {
text-align: left;
}
blockquote:before {
content: '“';
font-size: 48px;
float: left;
line-height: 20px;
margin-bottom: -20px;
margin-right: 10px;
font-weight: bold;
color: #ddd !important;
}
blockquote:after {
content: '”';
font-size: 48px;
line-height: 20px;
color: #ddd !important;
font-weight: bold;
margin-top: 10px;
display: inline-block;
}
/* I want to see my text! */
small small {
font-size: inherit;
}
/* but not that big! */
big big big {
font-size: inherit;
}
/* to stop page-widening */
pre {
display: block;
overflow: auto;
}
#epicenter_zen {
font-size: 75%;
text-align: center;
width: 100%;
background-color: #91AA9D;
position: fixed;
bottom: 0;
margin: 0;
left: 0;
right: 0;
padding: 3px;
font-family: Candara,"Trebuchet MS",sans-serif;
border-top: 1px white solid;
}
#epicenter_zen br {
display: none;
}
#voteInfo {
padding: 0 200px 0 100px;
}
#chatterlight_mainbody { position: absolute; left: 10px; right: 260px}
#chatterlight_NW { position: absolute; right: 10px; top: 5px } #chatterlight_hints { display: none; } #nodelet_170070 {width:100%}
@media print {
a:link { color: inherit; text-decoration: none}
#sidebar, .writeup_add, #search_form, #epicenter_zen, input, label { display: none}
#wrapper {padding: 0}
}/* SOFTLINK COLORS */
td#sl64{background:#d1dbbd;}td#sl63{background:#d1dbbd;}td#sl62{background:#d2dcbe;}td#sl61{background:#d3dcbf;}
td#sl60{background:#d3ddc0;}td#sl59{background:#d4ddc1;}td#sl58{background:#d5dec2;}td#sl57{background:#d5dfc3;}
td#sl56{background:#d6dfc4;}td#sl55{background:#d7e0c5;}td#sl54{background:#d7e0c5;}td#sl53{background:#d8e1c6;}
td#sl52{background:#d9e1c7;}td#sl51{background:#d9e2c8;}td#sl50{background:#dae3c9;}td#sl49{background:#dbe3ca;}
td#sl48{background:#dbe4cb;}td#sl47{background:#dce4cc;}td#sl46{background:#dde5cd;}td#sl45{background:#dde5cd;}
td#sl44{background:#dee6ce;}td#sl43{background:#dfe7cf;}td#sl42{background:#e0e7d0;}td#sl41{background:#e0e8d1;}
td#sl40{background:#e1e8d2;}td#sl39{background:#e2e9d3;}td#sl38{background:#e2e9d4;}td#sl37{background:#e3ead5;}
td#sl36{background:#e4ebd5;}td#sl35{background:#e4ebd6;}td#sl34{background:#e5ecd7;}td#sl33{background:#e6ecd8;}
td#sl32{background:#e6edd9;}td#sl31{background:#e7edda;}td#sl30{background:#e8eedb;}td#sl29{background:#e8efdc;}
td#sl28{background:#e9efdd;}td#sl27{background:#eaf0dd;}td#sl26{background:#eaf0de;}td#sl25{background:#ebf1df;}
td#sl24{background:#ecf1e0;}td#sl23{background:#ecf2e1;}td#sl22{background:#edf3e2;}td#sl21{background:#eef3e3;}
td#sl20{background:#eff4e4;}td#sl19{background:#eff4e5;}td#sl18{background:#f0f5e5;}td#sl17{background:#f1f5e6;}
td#sl16{background:#f1f6e7;}td#sl15{background:#f2f7e8;}td#sl14{background:#f3f7e9;}td#sl13{background:#f3f8ea;}
td#sl12{background:#f4f8eb;}td#sl11{background:#f5f9ec;}td#sl10{background:#f5f9ed;}td#sl9{background:#f6faed;}
td#sl8{background:#f7fbee;}td#sl7{background:#f7fbef;}td#sl6{background:#f8fcf0;}td#sl5{background:#f9fcf1;}
td#sl4{background:#f9fdf2;}td#sl3{background:#fafdf3;}td#sl2{background:#fbfef4;}td#sl1{background:#fcfff5;}
