/* 1950684.css (Scroller Derby by WaldemarExkul - unsupported) */
/*= autofix added rules. adjust to taste: */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
.actions , .actions li {display:inline;margin:0;padding:0 0.5em 0 0;}
.actions { display: block ; }
/*= end autofix added rules */
/*= Comments containing old/disabled rules start with = for easy finding */
/*= autofix added basic compatibility rules */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
/*= end autofix added rules */
/*= Comments containing old/disabled rules start with = for easy finding */
body {
background: #404040;
padding: 0px;
font-family: Georgia, serif;
}
#mainbody{
position: fixed;
top: 0px;
left: 306px;
bottom: 62px;
right: 0px;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 40px;
margin: 8px;
border: thin solid;
background: #f8f8ff;
color: #000000;
}
#chatterlight_mainbody{
position: fixed;
top: 0px;
left: 306px;
bottom: 0px;
right: 0px;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin: 8px;
border: thin solid;
background: #f8f8ff;
color: #000000;
}
#sidebar, #chatterlight_NW{
position: fixed;
top: 0px;
left: 0px;
bottom: 0px;
width: 282px;
overflow: auto;
padding: 8px;
margin: 8px;
border: thin solid;
background: #fffff0;
color: #000000;
}
#sidebar:before{
content: "-nodelets-";
text-transform: uppercase;
display: block;
text-align: center;
size: 200%;
color: #fffff0;
background: #404040;
font-family: "Goudy Sans", GoudySans, Skia, sans-serif;
font-weight: bold;
letter-spacing: 1ex;
}
#chatterlight_hints{
display: none;
}
.nodelet{
border: none;
}
h2.nodelet_title{
color: #404040;
font-weight: normal;
font-style: italic;
border-top: 2px ridge #404040;
border-bottom: 2px ridge #404040;
text-align: center;
padding: 2px;
}
#footer{
display: none;
}
#header{
position: fixed;
bottom: 0px;
left: 306px;
height: 54px;
right: 0px;
overflow: auto;
padding: 10px;
background: #404040;
color: #ffffff;
margin: 8px;
}
#e2logo{
position: absolute;
right: 30px;
top: 1px;
float: right;
font-weight: normal;
}
#e2logo a, #e2logo a:visited{
color: #fffff0;
text-decoration: none;
font-family: "Goudy Sans", GoudySans, Skia, sans-serif;
border: 2px outset #fffff0;
padding: 2px;
font-weight: normal;
}
#e2logo a:hover{
color: #ffffff;
}
#e2logo a:active{
color: #ffffff;
background: #111111;
text-decoration: none;
font-family: "Goudy Sans", GoudySans, Skia, sans-serif;
border: 2px inset #fffff0;
padding: 2px;
}
#searchform{
position: absolute;
left: 2px;
bottom: 2px;
width: 312px;
font-size: smaller;
text-align: left;
}
#search_submit:after{
content: "\A";
}
#searchform span[title] label{
cursor: help;
}
pre, code, tt, kbd{
font-family: monospace;
}
a{
color: #000000;
text-decoration: none;
font-family: "Goudy Sans", GoudySans, Skia, sans-serif;
}
tt a, pre a, code a, kbd a{
color: #119922;
font-family: monospace;
}
a:visited{
color: #000000;
text-decoration: none;
}
tt a:visited, pre a:visited, code a:visited, kbd a:visited{
color: #119922;
font-family: monospace;
}
a:hover{
color: #119922;
text-decoration: underline;
}
tt a:hover, pre a:hover, code a:hover, kbd a:hover{
color: #119922;
font-family: monospace;
text-decoration: underline;
}
h1.nodetitle{
width: 100%;
border-bottom: 2px ridge #404040;
color: #404040;
text-align: left;
font-weight: normal;
font-style: italic;
padding-bottom: 2px;
}
/*=div.writeup*/
.writeuppage .item{
border: thin solid #404040;
margin-bottom: 5px;
margin-top: 3px;
padding: 4px;
}
/*=div.writeup_title*/
div.writeuppage .contentheader{
border-bottom: thin dotted #404040;
padding: 4px;
}
/*=div.writeup_text*/
.writeuppage .item .content{
width: 100%;
line-height: 132%;
}
#softlinks td{
background: #fffff0;
width: 25%;
vertical-align: baseline;
}
#softlinks{
border: thin solid #404040;
background: #fffff0;
}
#softlinks:before{
content: "Soft links";
font-style: italic;
font-size: larger;
display: block;
text-align: left;
padding: 2px;
}
.topic{
width: 100%;
text-align: right;
font-weight: normal;
}
#epicenter_zen{
color: #fffff0;
background: #404040;
border: thin groove #fffff0;
padding: 3px;
position: absolute;
bottom: 2px;
left: 333px;
text-align: center;
font-size: smaller;
font-family: "Goudy Sans", GoudySans, Skia, sans-serif;
}
#epicenter_zen a, #epicenter_zen a:visited{
color: #fffff0;
text-decoration: none;
}
#epicenter_zen a:hover{
color: #77ff88;
text-decoration: underline;
}
.writeup_add h2{
font-style: italic;
font-weight: normal;
text-align: left;
border-bottom: 2px ridge #404040;
padding-bottom: 4px;
}
#homenodepicbox{
float: right;
max-width: 75%;
overflow: auto;
}
/*=#nodelet_1689202 img.oddrow*/
#currentuserpoll img.oddrow{
background: #119922;
border: thin solid #404040;
}
/*=#chatterbox_chatter i, #nodelet_91 small*/
#chatterbox_chatter i, #otherusers small{
color: #dd0000;
font-style: italic;
}
#chatterbox_chatter i a[title], #chatterbox_chatter i a[title]:active, #chatterbox_chatter i a[title]:hover, #chatterbox_chatter i a[title]:visited{
color: #dd0000;
}
/*=#writeup_list li*/
.nodelet .infolist li{
display: block;
margin-bottom: 4px;
margin-left: 12px;
text-indent: -12px;
}
/*=#writeup_list*/
.nodelet .infolist{
display: block;
margin-left: 2px;
padding-left: 2px;
}
/*=#writeup_list li span.author*/
DISABLED /*= .nodelet .infolist li span.author */  DISABLED /*=
/*= .nodelet .infolist li span.author */  */ {
display: block;
}
/*=#writeup_list li span.author:after*/
DISABLED /*= .nodelet .infolist li span.author:after */  DISABLED /*=
/*= .nodelet .infolist li span.author:after */  */ {
content: ":\ ";
}
/*=#writeup_list li span.title*/
DISABLED /*= .nodelet .infolist li span.title */  DISABLED /*=
/*= .nodelet .infolist li span.title */  */ {
font-weight: bold;
}
/*=#writeup_list li span.type*/
DISABLED /*= .nodelet .infolist li span.type */  DISABLED /*=
/*= .nodelet .infolist li span.type */  */ {
font-size: smaller;
}
/*=#writeup_list li.hasvoted span.title:before*/
DISABLED /*= .nodelet .infolist li.hasvoted span.title:before */  DISABLED /*=
/*= .nodelet .infolist li.hasvoted span.title:before */  */ {
content: "• ";
color: #dd00dd;
display: inline;
margin-left: -1.2ex;
}
/*=#nodelet_91 div.nodelet_content*/
#otherusers div.nodelet_content {
margin-left: 2em;
line-height: 150%;
}
#room_options{
font-size: smaller;
}
.clear{
clear: both;
}
#homenodeheader dt{
font-weight: bold;
font-variant: small-caps;
}
#homenodeheader dt:after{
content: ": ";
display: inline;
}
#welcome_message{
color: #dd0000;
background: #fffff0;
font-size: larger;
border: thin solid #404040;
padding: 8px;
font-style: italic;
}
#loglinks table{
width: 100%;
margin-top: 8px;
border: thin solid #404040;
background: #fffff0;
}
#loglinks td{
text-align: center;
}
#staff_picks a{
display: list-item;
}
h1,h2,big{
line-height: 150%;
}
#experience{
color: #dd0000;
font-style: italic;
text-align: center;
font-size: 130%;
}
#votesleft{
text-align: center;
}
abbr[title], acronym[title]{
border-bottom: thin dotted;
cursor: help;
}
.nodeshell:after{
content: " (nodeshell)";
display: inline;
color: #dd0000;
}
div#surveymessage {
display: none;
}
/* SOFTLINK COLORS */
td#sl64{background:#119922;}td#sl63{background:#149a25;}td#sl62{background:#189c29;}td#sl61{background:#1c9d2c;}
td#sl60{background:#1f9f30;}td#sl59{background:#23a033;}td#sl58{background:#27a237;}td#sl57{background:#2aa33a;}
td#sl56{background:#2ea53e;}td#sl55{background:#32a641;}td#sl54{background:#35a845;}td#sl53{background:#39a948;}
td#sl52{background:#3dab4c;}td#sl51{background:#40ac4f;}td#sl50{background:#44ae53;}td#sl49{background:#48af56;}
td#sl48{background:#4bb15a;}td#sl47{background:#4fb25d;}td#sl46{background:#53b461;}td#sl45{background:#56b564;}
td#sl44{background:#5ab768;}td#sl43{background:#5eb86b;}td#sl42{background:#61ba6f;}td#sl41{background:#65bb72;}
td#sl40{background:#69bd76;}td#sl39{background:#6cbe79;}td#sl38{background:#70c07d;}td#sl37{background:#74c180;}
td#sl36{background:#77c384;}td#sl35{background:#7bc487;}td#sl34{background:#7fc68b;}td#sl33{background:#82c78e;}
td#sl32{background:#86c992;}td#sl31{background:#8aca95;}td#sl30{background:#8dcc99;}td#sl29{background:#91cd9c;}
td#sl28{background:#95cfa0;}td#sl27{background:#98d0a3;}td#sl26{background:#9cd2a7;}td#sl25{background:#a0d3aa;}
td#sl24{background:#a3d5ae;}td#sl23{background:#a7d6b1;}td#sl22{background:#abd8b5;}td#sl21{background:#aed9b8;}
td#sl20{background:#b2dbbc;}td#sl19{background:#b6dcbf;}td#sl18{background:#b9dec3;}td#sl17{background:#bddfc6;}
td#sl16{background:#c1e1ca;}td#sl15{background:#c4e2cd;}td#sl14{background:#c8e4d1;}td#sl13{background:#cce5d4;}
td#sl12{background:#cfe7d8;}td#sl11{background:#d3e8db;}td#sl10{background:#d7eadf;}td#sl9{background:#daebe2;}
td#sl8{background:#deede6;}td#sl7{background:#e2eee9;}td#sl6{background:#e5f0ed;}td#sl5{background:#e9f1f0;}
td#sl4{background:#edf3f4;}td#sl3{background:#f0f4f7;}td#sl2{background:#f4f6fb;}td#sl1{background:#f8f8ff;}