/* 1951961-var.css (mikoyan25 flipped by archiewood - CSS Variables Edition) */
/* This is a CSS variable-based version for A/B testing with ?csstest=1 */

:root {
  /* Theme-specific variables will be added as colors are identified */
  /* For now, this version matches the original stylesheet */
}

/*= autofix added basic compatibility rules */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
/*= end autofix added rules */
hr 					{	border: black 1px;
border-style: none none solid none;	}
#newwriteups.nodelet .contentinfo 	{ 	float: left;
margin-bottom: 0.5em;
width: 240px;
border-style: none none solid none;
border-width: 1px;
text-align: right;		}
#newwriteups.nodelet .nodelet_content .infolist li .title
{	text-align: left;		}
#newwriteups.nodelet .nodelet_content .infolist li .type
{	display: none;			}
#newwriteups.nodelet .nodelet_content .infolist li cite
{	float: left;
clear: left;
font-size: 10px;		}
#newwriteups.nodelet .nodelet_content .morelink
{	float: left;
clear: left;			}
/*= Comments containing old/disabled rules start with = for easy finding */
#header					{	position: absolute;
top: 0px;
left: 0px;
right: 10px;
height: 1px;
z-index: 25;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;		}
#header #e2logo,
#frontpage #e2logo 			{	position: absolute;
left: 10px;
top: 5px;
right: 0px;
z-index: 50;
margin-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
font-family: Verdana;
font-style: italic;
font-weight: bold;
font-size: 50px;
background-color: black;	}
#e2logo a				{	color: white;
text-decoration: none;		}
#searchform				{	position: absolute;
left: 10px;
top: 86px;
width: 245px;
height: 80px;
padding-top: 8px;		}
#searchform input			{	display: inline;		}
#frontpage h1				{	margin-top: 0px;		}
#node_search				{	display: inline;
width: 179px;			}
#search_form label			{	float: left;
margin-right: 8px;
margin-top: 5px;
font-family: sans-serif;
font-size: 75%;
font-weight: bold;		}
/* 'search' button and 'talk' button in catbox */
#search_submit,
#talk_button input			{	width: 52px;			}
#search_submit				{	padding-bottom: 1px;
padding-left:	2px;		}
#message				{	width: 179px;			}
#chatterbox .nodelet_content,
#notifications .nodelet_content		{	overflow: auto;			}
.sentmessage 				{	font-size: 10px;
border-style: dashed;
border-width: 1px;		}
#notifications				{	width: 240px;
float: left;
padding-bottom: 10px;		}
#epicenter_zen				{	background-color: transparent;
color: white;
position: absolute;
top: 20px;
right: 10px;
text-align: right;
z-index: 100;			}
#epicenter_zen a			{	color: white;
font-weight: bold;		}
#epicenter_zen a:hover			{	text-decoration: underline;	}
#epicenter_zen br			{	display: none;			}
#epicenter_zen #voteInfo		{	display: block;			}
#wrapper				{	position: absolute;
top: 10px;
left: 0px;
width: 100%;
height: 100%;
z-index: 0;			}
#sidebar				{	position: absolute;
top: 162px;
left: 10px;
width: 240px;
padding-top: 0px;
padding-bottom: 10px;
padding-right: 10px;		}
#chatterlight_NW 			{	float: left;
clear: left;
width: 240px;
padding-right: 10px;
padding-bottom: 10px;
border-style: none solid none none;
border: thin;			}
#mainbody				{	z-index: 1;
position: absolute;
top: 75px;
left: 260px;
right: 10px;
padding-top: 9px;
padding-left: 10px;		}
#mainbody h1				{	margin-top: 0px;		}
#chatterlight_mainbody 			{ 	z-index: 1;
position: absolute;
top: 0px;
left: 260px;
right: 10px;
padding-top: 10px;
padding-left: 10px;		}
#footer,
.clear,
#printlink,
#chatterlight_hints, DISABLED /*=
#newwriteups .type */ ,
#newlogs .type				{	display:none			}
#newwriteups ul,
#writeup_faves,
#newlogs.nodelet ul,
#coolstaffpicks ul,
#categories ul,
#randomnodes ul,
#usergroupwriteups ul,
#readthis ul				{	list-style-type: none;		}
#newwriteups li,
#newlogs.nodelet li,
#coolstaffpicks li,
#categories li,
#randomnodes li,
#usergroupwriteups li,
#readthis li				{	margin-left: -3.3em;		}
#newlogs .contentinfo 			{	display: block;
margin-bottom: 0.5em;
border: thin;
border-style: none none solid none;}
#newlogs .title				{	display: block;
padding-bottom: 0.08em;		}
#newlogs cite				{	display: block;
font-size: 80%;			}
#vitals.nodelet,
#otherusers.nodelet,
#currentuserpoll.nodelet,
#e2zeitgeist.nodelet,
#newwriteups.nodelet,
#chatterbox.nodelet,
#vitals.nodelet,
#personallinks.nodelet,
#coolstaffpicks.nodelet,
#statistics.nodelet,
#newlogs.nodelet,
#categories.nodelet,
#randomnodes.nodelet,
#usergroupwriteups.nodelet,
#recentnodes.nodelet,
#ads.nodelet,
#notelet.nodelet,
#readthis.nodelet,
#quickreference.nodelet,
#everythingdeveloper.nodelet,
#notifications.nodelet			{	display: block;
clear: both;			}
#notifications li			{	margin-left: -27px;		}
#writeup_faves li			{	margin-bottom: 10px;
padding-bottom: 10px;
border: thin white;
border-style: none none solid none; }
#writeup_faves .author			{	display: inline;
text-align: left;
background-color: transparent;	}
#writeup_faves .author a		{	text-decoration: none;
font-weight: bold;		}
#writeup_faves .author a:hover,
#otherusers strong			{	text-decoration: underline;	}
.topic, .topic a			{	font-weight: normal;
text-decoration: none;
font-size: 12px;		}
.topic a				{	font-weight: bold;		}
topic a:hover				{	text-decoration: underline;	}
body, div, p, li, dd, td, th		{	background-color: #808080;
font-size: 12px;
font-family: Arial, sans-serif;
color: black;			}
h1					{	font-size: 160%;		}
h2					{	font-size: 130%;		}
h3					{	font-size: 110%;		}
h4					{	font-size: 100%;		}
h5					{	font-size: 90%;			}
h6					{	font-size: 80%;			}
big 					{	font-size: 125%;		}
small 					{	font-size: 80%;			}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a					{	font-size: 100%;			}
code, code a, tt, tt a,
pre, pre a 				{	font-family: "courier new";		}
h1 .populated, h1 a .populated,
h2 .populated, h2 a .populated,
h3 .populated, h3 a .populated		{
/*						color: white;
background-color: black;*/
}
big			 		{	font-size: 125%;		}
small			 		{	font-size: 80%;			}
a					{	color: black;
font-weight: bold;
text-decoration: none;		}
a:hover 				{	text-decoration: underline;	}
.oddrow					{	color: white;
background-color: black;	}
.oddrow td				{	padding-bottom: 2px;
padding-top: 2px;
color: white;
background-color: black;		}
.oddrow a				{	font-weight: bold;
color: white;
text-decoration: none;		}
.oddrow a:hover				{	text-decoration: underline;	}
.evenrow td				{	background-color: black;
padding-bottom: 2px;
padding-top: 2px;
color: white;			}
.evenrow a				{	background-color: black;
margin-bottom: 4px;
text-decoration: none;
color: white;			}
.evenrow a:hover			{	text-decoration: underline;	}
#softlinks				{	padding-bottom: 10px;
border-style: none none solid none; }
.nodelet h2 				{	display: block;
text-align: center;
background-color: black;
color: white;			}
.writeuppage .item 			{	padding-bottom: 10px;
margin-bottom: 10px;
margin-top: 20px;
border: thin;
border-style: none none solid none; }
td.wu_typeauthorprint span.type,
td.wu_typeauthorprint span.type a	{ 	display: inline;		}
#welcome_message			{	padding-bottom: 22px;
margin-bottom: 0px;		}
#loglinks				{	display: none;			}
#loglinks h3				{	color: white;
background-color: black;
width: 100%;			}
#loglinks table				{	width: 100%			}
#loglinks td				{	width: 25%;
padding-left: 30px;
padding-bottom: 10px;		}
#cooluserpicks				{	float: left;
width: 50%;
list-style-type: none;
word-wrap: break-word;		}
#cooluserpicks h3			{	color: white;
padding-top: 1px;
padding-bottom: 1px;
background-color: black;
width: 100%;			}
#cooluserpicks h3 a			{	color: white;			}
#cooluserpicks h3 a:hover		{	text-decoration: underline;	}
#cooluserpicks li			{	font-size: 10px;
list-style-type: none;
word-wrap: break-word;
margin-left: -40px;
margin-right: 10px;		}
#cooluserpicks li a			{	font-weight: normal;		}
#cooluserpicks li a:hover		{	text-decoration: underline;	}
#staff_picks				{	float: right;
clear: right;
width: 50%;			}
#staff_picks li,
#staff_picks li a			{	font-weight: normal;
list-style-type: none;
word-wrap: break-word;
font-size: 10px;
margin-left: -20px;		}
.staff_pick a:hover			{	text-decoration: underline;	}
#staff_picks h3 a			{	font-weight: bold;
font-size: 14px;
padding-top: 0px;
padding-bottom: 1px;
background-color: black;	}
#staff_picks h3				{	width: 100%;
padding-top: 0px;
padding-bottom: 2px;
background-color: black;
color: white;			}
#creamofthecool				{	clear: both;			}
#creamofthecool_title,
#creamofthecool_title a,
#creamofthecool_title a .populated	{	background-color: black;
font-size: 20px;
padding-top: 1px;
padding-bottom: 1px;
margin-top: 10px;
margin-bottom: 0px;
color: white;			}
#cotc .item,
#frontpage_news .weblog .item		{	margin-top: 0.5em;		}
#cotc .contentinfo,
#frontpage_news .contentinfo		{	border: thin;
border-style: none none solid none;}
#creamofthecool .contentinfo		{	border: thin;
border-style: none none solid none;
padding-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;		}
#creamofthecool .contentinfo a		{ 	text-decoration: none;
font-weight: bold;		}
#creamofthecool .contentinfo a:hover	{	text-decoration: underline;	}
#cotc #creamofthecool .content		{	margin-left: -2px;
margin-right: 1px;		}
#cotc #creamofthecool .content a	{	font-weight: bold;
text-decoration: none;		}
#cotc #creamofthecool .content a:hover	{	text-decoration: underline;	}
textarea				{	width: 100%;			}
.nodetitle				{	background-color: black;
color: white;
padding-top: 1px;
padding-bottom: 1px;
font-size: 20px;		}
.writeuppage .contentheader a		{	font-weight: bold;
text-decoration: none;		}
.writeuppage .contentheader a:hover	{	text-decoration: underline;	}
.writeuppage .item .content		{	margin-top: 10px;
margin-bottom: 10px;
line-height: 13pt;		}
#cooluserpicks .morelink		{	margin-bottom: 10px;		}
#frontpage_news 			{	float: left;
clear: both;			}
#frontpage_news_title 			{	margin-top: 10px;
font-size: 20px;
background-color: black;	}
#frontpage_news_title a			{	color: white;
background-color: black;
padding-bottom: 0px;		}
.stylesheet #mainbody form:after	{
display: block ;
margin-top: 20px;
content: "please /msg archiewood if anything doesn't display properly under this theme." ;
font-weight: bold ;		}
#homenodepicbox 			{	width: 50%;
float: right;
margin-right: -10px;		}
#homenodeheader dl 			{	margin-top: 0px;
width: 50%;
float: left;
clear: left;
display: block;			}
#homenodeheader dt 			{	display: block;
padding: 2px;
background-color: black;
color: white;			}
#homenodeheader dd 			{	padding: 2px;			}
#homenodetext 				{	float: left;
clear: left;
padding-top: 10px;
padding-bottom: 10px;		}
#bookmarks				{	float: left;
clear: left;			}
.writeup_add				{	margin-top: 10px;
margin-bottom: 10px;		}
.sigil_e2gods, .sigil_e2coders,
.sigil_edev, .sigil_content_editors	{	font-size: 80%;
color: white;
font-weight: bold;		}
.sigil_chat a:hover			{	text-decoration: underline;	}
.action_me, .action_sing		{	font-style: italic;		}
.action_whisper .text,
.action_roll,
.action_fireball,
.action_sanctify,
.action_egg				{	font-variant: small-caps;	}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#a9a9a9;}td#sl62{background:#a8a8a8;}td#sl61{background:#a8a8a8;}
td#sl60{background:#a7a7a7;}td#sl59{background:#a6a6a6;}td#sl58{background:#a6a6a6;}td#sl57{background:#a5a5a5;}
td#sl56{background:#a4a4a4;}td#sl55{background:#a4a4a4;}td#sl54{background:#a3a3a3;}td#sl53{background:#a2a2a2;}
td#sl52{background:#a2a2a2;}td#sl51{background:#a1a1a1;}td#sl50{background:#a0a0a0;}td#sl49{background:#a0a0a0;}
td#sl48{background:#9f9f9f;}td#sl47{background:#9e9e9e;}td#sl46{background:#9e9e9e;}td#sl45{background:#9d9d9d;}
td#sl44{background:#9c9c9c;}td#sl43{background:#9c9c9c;}td#sl42{background:#9b9b9b;}td#sl41{background:#9a9a9a;}
td#sl40{background:#9a9a9a;}td#sl39{background:#999999;}td#sl38{background:#989898;}td#sl37{background:#989898;}
td#sl36{background:#979797;}td#sl35{background:#969696;}td#sl34{background:#969696;}td#sl33{background:#959595;}
td#sl32{background:#949494;}td#sl31{background:#949494;}td#sl30{background:#939393;}td#sl29{background:#929292;}
td#sl28{background:#929292;}td#sl27{background:#919191;}td#sl26{background:#909090;}td#sl25{background:#909090;}
td#sl24{background:#8f8f8f;}td#sl23{background:#8e8e8e;}td#sl22{background:#8e8e8e;}td#sl21{background:#8d8d8d;}
td#sl20{background:#8c8c8c;}td#sl19{background:#8c8c8c;}td#sl18{background:#8b8b8b;}td#sl17{background:#8a8a8a;}
td#sl16{background:#8a8a8a;}td#sl15{background:#898989;}td#sl14{background:#888888;}td#sl13{background:#888888;}
td#sl12{background:#878787;}td#sl11{background:#868686;}td#sl10{background:#868686;}td#sl9{background:#858585;}
td#sl8{background:#848484;}td#sl7{background:#848484;}td#sl6{background:#838383;}td#sl5{background:#828282;}
td#sl4{background:#828282;}td#sl3{background:#818181;}td#sl2{background:#808080;}td#sl1{background:#808080;}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#a9a9a9;}td#sl62{background:#a8a8a8;}td#sl61{background:#a8a8a8;}
td#sl60{background:#a7a7a7;}td#sl59{background:#a6a6a6;}td#sl58{background:#a6a6a6;}td#sl57{background:#a5a5a5;}
td#sl56{background:#a4a4a4;}td#sl55{background:#a4a4a4;}td#sl54{background:#a3a3a3;}td#sl53{background:#a2a2a2;}
td#sl52{background:#a2a2a2;}td#sl51{background:#a1a1a1;}td#sl50{background:#a0a0a0;}td#sl49{background:#a0a0a0;}
td#sl48{background:#9f9f9f;}td#sl47{background:#9e9e9e;}td#sl46{background:#9e9e9e;}td#sl45{background:#9d9d9d;}
td#sl44{background:#9c9c9c;}td#sl43{background:#9c9c9c;}td#sl42{background:#9b9b9b;}td#sl41{background:#9a9a9a;}
td#sl40{background:#9a9a9a;}td#sl39{background:#999999;}td#sl38{background:#989898;}td#sl37{background:#989898;}
td#sl36{background:#979797;}td#sl35{background:#969696;}td#sl34{background:#969696;}td#sl33{background:#959595;}
td#sl32{background:#949494;}td#sl31{background:#949494;}td#sl30{background:#939393;}td#sl29{background:#929292;}
td#sl28{background:#929292;}td#sl27{background:#919191;}td#sl26{background:#909090;}td#sl25{background:#909090;}
td#sl24{background:#8f8f8f;}td#sl23{background:#8e8e8e;}td#sl22{background:#8e8e8e;}td#sl21{background:#8d8d8d;}
td#sl20{background:#8c8c8c;}td#sl19{background:#8c8c8c;}td#sl18{background:#8b8b8b;}td#sl17{background:#8a8a8a;}
td#sl16{background:#8a8a8a;}td#sl15{background:#898989;}td#sl14{background:#888888;}td#sl13{background:#888888;}
td#sl12{background:#878787;}td#sl11{background:#868686;}td#sl10{background:#868686;}td#sl9{background:#858585;}
td#sl8{background:#848484;}td#sl7{background:#848484;}td#sl6{background:#838383;}td#sl5{background:#828282;}
td#sl4{background:#828282;}td#sl3{background:#818181;}td#sl2{background:#808080;}td#sl1{background:#808080;}