/* 1973976-var.css (basesheet by e2coders - CSS Variables Edition) */
/* This is a CSS variable-based version for A/B testing with ?csstest=1 */
/* NOTE: basesheet is marked unsupported - contains mainly utility styles */

:root {
  /* Basesheet has minimal colors - mostly utility styles */
  --e2-base-widget-bg: white;
  --e2-base-widget-text: black;
  --e2-base-link: blue;
  --e2-base-warning: red;
  --e2-base-border: gray;
}

/* THIS STUFF should be moved from here to fixstylesheet on its next upgrade */
.nodeletfoot{
font-size: 84% ;
text-align: right ;
}
.settingsdocs{
margin: 1em 0 0;
text-align: center ;
}
.categories{
margin-top: 0.5em;
text-align: left ;
}
.contentfooter .categories{
margin: 0 0 0.5em;
}
.categories .authors{
font-weight: bold;
font-size: 110%;
}
.categories ul, .categories li, .categories h4 {
display: inline ;
margin: 0;
padding: 0 ;
list-style: none ;
}
.categories li + li:before {
content: ' | ' ;
padding: 0 ;
}
#message {
width: 97%;
}
#mainbody #otherusers li {
display: inline
}
#mainbody #otherusers li + li:before {
content: "\A0 | \A0";
}
fieldset + fieldset, form + form fieldset, .parentdraft, #admintools + .writeup_add {
margin-top: 0.67em;
}
.draft_title {
width: 100%;
}
/* end THIS STUFF */
big big big big big big {
font-size: 100%;
}
.externalLink {
background:transparent url(https://s3.amazonaws.com/static.everything2.com/external.png) no-repeat scroll right center;
padding-right:13px;
/* This is the external link icon used by Wikimedia, used under the GPL as spelt out here:
https://commons.wikimedia.org/wiki/File:Icon_External_Link.png */
}
.chat_nate{ /* compensate for ancient markup removed from showchatter */
font-weight: bold;
}
.mceEditor table, .mceEditor table td {
margin-top: 0 !important;
margin-bottom: 0 !important;
padding: 0 !important;
}
fieldset{ /* this is FF default; IE has none */
padding: 0.25em 0.625em 0.75em;
}
#ed_strong {
font-weight: bold;
}
#ed_hardlink {
color: var(--e2-base-link);
text-decoration: underline;
}
#ed_pipe_link {
color: var(--e2-base-link);
text-decoration: underline;
}
#ed_del {
text-decoration: line-through;
}
#ed_em {
font-style: italic;
}
#ed_code {
font-family: "Courier New", Courier, mono;
}
.voteinfo span, .date, #everythingusersearch .reputation {
white-space: nowrap ;
}
.unvotable {
cursor: pointer ;
}
.widget {
background: var(--e2-base-widget-bg) ;
color: var(--e2-base-widget-text) ;
display: block ;
padding: 0.5em ;
border: 1px solid ;
position: absolute ;
z-index: 32767 ;
margin-top: 1.2em ;
top: 0 ;
left: 0 ;
text-align: left ;
white-space: nowrap ;
}
.open , .closed , .hidewidget {
cursor: pointer ;
}
.open , .closed {
padding-left: 13px ;
background-image: url( "https://s3.amazonaws.com/static.everything2.com/triangles.png" ) ;
background-repeat: no-repeat ;
}
.open {
background-position: 0 -30px ;
}
.hidewidget {
position: absolute ;
top: 0 ;
right: 0 ;
padding: 0 0.25em 0.25em ;
font-size: 75% ;
font-weight: bold ;
}
.addto , .cools , .admin , .actions li {
position: relative;
}
#messages .reply, #messages .delete {
border: 1px solid;
text-align: center;
width: 40%;
float: left;
margin: 4px;
font-size: 90%;
position: relative;
}
#messages .reply .widget {
white-space: normal;
}
#messages .actions,
.actions li {
display: block ;
}
#messages div.privmsg {
display: block;
clear: both;
border-top: dotted 1px;
padding-top:6px;
}
#messages div.privmsg:first-child {
border-top: none;
padding-top:0px;
}
.pending{
cursor: wait ;
}
.autochat{
max-height: 25em;
overflow: auto;
}
.social_button a, .social_button {
height: 16px;
width: 16px;
display: block;
border: none;
}
.social_button {
float: left; /* why is this here? */
background-image: url( "https://s3.amazonaws.com/static.everything2.com/socialcombined.gif" ) ;
background-repeat: no-repeat ;
padding: 0;
margin: 2px;
}
.bookmarkList li {
clear: both;
}
.social_blinklist {
background-position: -0px 0;
}
.social_delicious {
background-position: -16px 0;
}
.social_digg {
background-position: -32px 0;
}
.social_facebook {
background-position: -48px 0;
}
.social_googlebookmarks {
background-position: -64px 0;
}
.social_magnolia {
background-position: -80px 0;
}
.social_newsvine {
background-position: -96px 0;
}
.social_propellor {
background-position: -112px 0;
}
.social_reddit {
background-position: -128px 0;
}
.social_stumbleupon {
background-position: -144px 0;
}
.social_technorati {
background-position: -160px 0;
}
.social_twitter {
background-position: -176px 0;
}
.social_windowslive {
background-position: -192px 0;
}
.social_yahoo {
background-position: -208px 0;
}
#guestfrontpage form#searchform {
margin:8px auto;
text-align:center;
}
.registries td, .registries th {
border:solid 1px var(--e2-base-border);
padding:6px;
}
table.registries {
cell-spacing:0px;
border-collapse:collapse;
}
.warning {
border: 3px var(--e2-base-warning) solid;
padding: 1em;
display: table;
float: right;
text-align: center;
overflow: hidden;
}
.warning div {
display: table-row;
vertical-align: middle;
text-align: center;
}
.warning p {
margin: 0;
padding: 1px;
}
#homenodeinspector .contentfooter {
border-bottom: 1px solid;
}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
