/* 1996378.css (Deep Ice by The Custodian) */
/*= autofix added rules. adjust to taste: */
.actions , .actions li {display:inline;margin:0;padding:0 0.5em 0 0;}
.actions { display: block ; }
/*= end autofix added rules */
/*= Comments containing old/disabled rules start with = for easy finding */
/*autofixed*/
/*= autofix added basic compatibility rules */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
/*= end autofix added rules */
/****** COLORS ******/
body,
div,
p,
th,
td  {
background-color: #99cfff;
color: #000033;
}
/* darker backgrounds/black text */
#header,
#footer,
#footer a:link,
#footer a:visited {
background-color: #38495e;
color: #000000;
}
.nodelet h2 {
background-color: #44bbff;
color: #000033;
}
.nodelet {
border-color: #38495e;
background-color: #99cfff;
}
/* light text to show against medium background */
#header,
#footer,
#footer a:link,
#footer a:visited,
#e2logo a:link,
#e2logo a:visited,
#e2logo a:hover {
color: #dddddd;
}
/* medium backgrounds/details */
.nodelet h2 {
color: #000033;
background-color: #44bbff;
}
#cooluserpicks,
#staff_picks,
#creamofthecool,
.nodelet,
#homenodeheader dt {
background-color: #99cfff;
}
#softlinks td {
background-color: #9cffff;
}
/* thin dark borders */
#cooluserpicks,
#staff_picks,
#creamofthecool,
#softlinks td {
border-color: #38495e;
}
/* thin light bottom border */
#cooluserpicks li,
#creamofthecool .contentinfo,
.nodelet .infolist li {
border-bottom-color: #d3d3d3;
}
/* horizontal rules */
.nodetitle,
writeup_title {
border-bottom-color: #44bbff;
}
.weblog .item .content {
border-top-color: #d3d3d3;
}
/* miscellaneous */
/* next three 'oddrow' stanzas *all* needed to colorize odd rows in, say, [theme nirvana] */
.oddrow {
color: black;
background-color: #9cffff;
}
.oddrow td {
color: black;
background-color: #9cffff;
}
.oddrow a {
color: black;
}
td {
background-color: #99cfff;
}
a:link {
color: #000033;
}
a:visited {
color: #000033;
}
a:active,
a:hover,
a:focus {
color: #000000;
}
.hasvoted {
color: #ffffff !important;
}
#searchform {
background-color: #38495e;
}
/* * *  Example 'colorize user' stanza: * * */
/* make changes as necessary to username and color and place in [Style Defacer] */
/*
.chat_user a { background: inherit; }
.chat_The_Custodian { background: pink ; }
*/
/****** FORMATTING ******/
body,
th,
td {
margin: 0;
padding: 0;
font-family: georgia, 'times new roman', serif;
font-size: 12px;
}
h1,
h2,
h3,
h4 {
font-family: arial, sans-serif;
}
pre,
tt {
font-size: 9pt;
}
big {
font-size: 110%;
}
small {
font-size: 90%;
}
h1 {
font-size: 140%;
font-weight: bold;
}
h2 {
font-size: 130%;
font-weight: bold;
}
/* User-submitted h1s converted to h2 for SEO - style them like h1s */
h2.user-h1 {
font-size: 140%;
}
h3 {
font-size: 120%;
font-weight: bold;
}
h4 {
font-size: 100%;
font-weight: bold;
}
form {
margin: 0;
padding: 0;
}
#wrapper {
padding-top: 60px; /* header goes in this gap */
padding-right: 270px; /* sidebar goes in this gap */
margin: 2px 2px 20px 20px;
}
#mainbody {
float: left;
margin-top: 20px;
width: 100%;
margin-bottom: 20px;
}
#mainbody > *:first-child {
margin-top: 0;
}
.nodetitle {
padding-bottom: 1px;
border-bottom-width: 1px;
border-bottom-style: dotted;
margin: 0 0 1px;
}
/*** FRONT PAGE SPECIFIC ***/
#welcome_message {
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 20px;
width: 252px;
text-align: center;
font-size: 90%;
}
#loglinks {
border-style:solid;
border-width:1px;
clear:both;
float:left;
font-size:90%;
margin-bottom:2px;
margin-right:20px;
padding:5px;
width:250px;
}
#staff_picks {
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 2px;
width: 250px;
padding: 5px;
border-width: 1px;
border-style: solid;
font-size: 90%;
}
#cooluserpicks {
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 2px;
width: 250px;
border-width: 1px;
border-style: solid;
padding: 5px;
font-size: 90%;
}
#cooluserpicks ul {
padding: 0;
margin: 5px;
list-style: none outside none;
}
#cooluserpicks li {
padding: 1px;
border-bottom-width: 1px;
border-bottom-style: solid;
text-align: center;
margin: 0;
}
#cooluserpicks li a {
padding: 1px;
display: block;
text-decoration: none;
}
#cooluserpicks .morelink {
font-size: 90%;
text-align: right;
}
#creamofthecool {
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 2px;
width: 250px;
border-width: 1px;
border-style: solid;
padding: 5px;
font-size: 90%;
}
#creamofthecool h3 {
}
#creamofthecool table {
border-collapse: collapse;
}
#cotc {
overflow: auto;
width: 250px;
}
#creamofthecool .item {
margin: 20px 0;
}
#creamofthecool .contentinfo {
font-weight: bold;
padding-bottom: 5px;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-bottom: 5px;
}
#creamofthecool .content {
font-size: 90%;
}
#creamofthecool .content blockquote {
margin: 0 5%;
}
#creamofthecool .morelink {
font-size: 90%;
text-align: right;
}
#frontpage_news {
padding-left: 280px; /* cotc etc. (above) go in this gap */
}
#frontpage_news h2 {
}
/* news entries resemble writeups: */
.weblog .item {
margin: 20px 0 60px;
}
.weblog .item .title {
font-weight: bold;
font-size: 120%;
}
.weblog .item .contentinfo cite {
display: inline;
}
DISABLED /*= .weblog .item .author:before */  {
content: "by ";
}
.weblog .item .date {
margin-left: 5px;
display: inline;
}
.weblog .item .date:before {
content: "on ";
}
.remove {
display: inline;
}
.weblog .item .content {
margin-top: 2px;
border-top-width: 1px;
border-top-style: solid;
padding: 2px;
}
/*** END FRONT PAGE ***/
/*** REGULAR NODES ***/
#firmlink,
#isalso,
.topic {
margin: 1px 0 0;
padding: 0;
font-size: 90%;
font-weight: normal;
text-indent: 0px;
}
.createdby {
text-align: right;
margin-bottom: 40px;
}
.writeuppage .item {
margin: 20px 0 60px;
}
/*=.writeup_title*/
.writeuppage .contentheader {
padding-bottom: 2px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #44bbff;
margin-bottom: 2px;
}
/*=.writeup_title td*/
.writeuppage .contentheader td {
}
.writeuptable {
width: 100%;
overflow: auto;
}
.writeuppage .item .content {
padding: 20px;
overflow: auto;
}
p {
margin: 10px 0;
}
pre {
/* to stop page-widening */
display: block;
overflow: auto;
}
#displaytypelinks {
margin: 5px 0;
font-size: 90%;
text-align: right;
}
#displaytypelinks p {
display: inline;
}
#killbutton,
#votebutton,
#blabbutton {
float: right;
margin: 5px 0;
}
#softlinks {
margin: 5px 0;
clear: both;
}
#softlinks table {
border-collapse: collapse;
}
#softlinks td {
border-width: 1px;
border-style: solid;
padding: 0;
}
#softlinks td a {
display: block;
padding: 5px;
height: 100%;
}
#softlinks td a:hover {
}
textarea {
width: 100%;
}
.writeup_add {
margin: 20px 0;
}
/*** END REGULAR NODES ***/
/*** CHATTERLIGHT ***/
/* turn off 'new writeups' display */
#chatterlight_NW {
display: none;
}
#chatterlight_mainbody {
float: left; width: 750px; margin-left: 10px;
}
#chatterlight_hints {
display: none;
}
/*** HOMENODES ***/
#homenodeheader {
margin-top: 20px;
}
#homenodepicbox {
width: 410px;
overflow: auto;
float: left;
}
#userimage {
}
#homenodeheader dl {
width: 250px;
float: right;
display: block;
}
#homenodeheader dt {
display: block;
padding: 2px;
font-size: 90%;
}
#homenodeheader dd {
padding: 2px;
margin: 0;
text-align: right;
font-size: 90%;
}
hr.clear {
/*
I can only find one place where hr.clear appears
so I don't know if this will break other pages
clear: both;
visibility: hidden;
*/
display: none;
}
#homenodetext {
width: 100%;
clear: both;
}
#bookmarks {
}
#bookmarks h4 {
}
#bookmarks ul {
}
#bookmarks li {
}
/*** END HOMENODES ***/
/*** SCRATCHPAD ***/
#scratchpadtable {
border-collapse: collapse;
border-width: 1px;
}
#scratchpadtable td {
padding: 20px;
}
/*** END SCRATCHPAD ***/
/*** TABLES OF DATA ***/
.oddrow td, .evenrow td {
padding: 4px;
}
/*** END TABLES ***/
#mainbody > *:last-child {
margin-bottom: 0;
}
#sidebar {
float: left;
margin-left: 20px;
width: 250px;
margin-right: -100%;
}
.nodelet {
clear: both;
padding: 0;
border-width: 1px;
border-style: solid;
word-wrap: break-word; /* ? */
margin-bottom: 2px;
}
.nodelet h2 {
display: block;
margin: 0;
padding: 0 5px;
text-align: center;
}
.nodelet_content {
padding: 5px;
}
/*** NEW WRITEUPS ZEN NODELET (#1868940) ***/
.nodelet .infolist {
margin: 0;
padding: 0;
list-style: none outside none;
}
.nodelet .infolist li {
margin: 0;
padding: 0;
margin-bottom: 3px;
margin-top: 3px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.nodelet .infolist a {
text-decoration: none;
}
.nodelet .infolist a:hover {
text-decoration: underline;
}
.nodelet .infolist .contentinfo {
display: block;
}
DISABLED /*= .nodelet .infolist span.author */  {
float: right;
font-size: 90%;
}
DISABLED /*= .nodelet .infolist span.author:before */  {
content: "by ";
}
DISABLED /*= .nodelet .infolist span.title */  {
}
DISABLED /*= .nodelet .infolist span.title a */  {
text-decoration: none;
}
DISABLED /*= .nodelet .infolist span.title a:hover */  {
}
DISABLED /*= .nodelet .infolist span.type */  {
display: none;
}
.nodelet .infolist span.hidden,
.nodelet .infolist span.hide {
font-size: 90%;
}
/*** END NEW WRITEUPS ZEN NODELET ***/
/*** EPICENTER NODELET (#262) ***/
#epicenter_zen {
background: #38495e;
color: #f9fafa;
z-index: 10;
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
min-width: 1000px;
height: 20px;
padding-left: 10px;
}
#epicenter_zen a:link { color: #f9fafa; }
#epicenter_zen a:visited { color: #f9fafa; }
#epicenter_zen a:active { color: #f9fafa; }
#epicenter_zen BR { display:none; }
#epicenter ul {
margin: 5px;
padding: 0;
list-style: disc inside none;
}
#epicenter li {
}
#experience {
font-size: 110%;
}
/*** END EPICENTER NODELET ***/
/*** CHATTERBOX NODELET (#170070) ***/
#chatterbox .nodelet_content {
overflow: auto;
}
#msgnum,
#msgunarchived {
/*
these two elements appear ABOVE the catbox
nodelet, and only appear when the catbox
nodelet is first (?)
*/
display: none;
}
/*** END CHATTERBOX NODELET ***/
#header {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 60px;
margin: 0px;
padding: 0 2px 0 20px;
overflow: hidden; /* IE fix */
}
#searchform {
width: 410px;
float: right;
text-align: right;
padding: 0;
margin: 5px 20px;
}
#searchform input {
float: left;
margin-top: 5px;
}
#searchform label {
display: block;
font-size: 85%;
float: right;
clear: right;
text-align: left;
width: 100px;
}
#searchform label input {
margin: 1px;
}
#e2logo {
margin: 0px;
float: left;
text-align: left;
font-weight: bold;
font-size: 50px;
}
#e2logo a:link,
#e2logo a:visited {
text-decoration: none;
}
#e2logo a:hover {
}
#footer {
clear: both;
padding: 5px;
text-align: right;
font-size: 90%;
}
.begheader {
}
#metalinks {
display: none;
}
dt {
font-weight: bold;
}/* SOFTLINK COLORS */
td#sl64{background:#9cffff;}td#sl63{background:#9bfeff;}td#sl62{background:#9bfdff;}td#sl61{background:#9bfcff;}
td#sl60{background:#9bfbff;}td#sl59{background:#9bfbff;}td#sl58{background:#9bfaff;}td#sl57{background:#9bf9ff;}
td#sl56{background:#9bf8ff;}td#sl55{background:#9bf8ff;}td#sl54{background:#9bf7ff;}td#sl53{background:#9bf6ff;}
td#sl52{background:#9bf5ff;}td#sl51{background:#9bf5ff;}td#sl50{background:#9bf4ff;}td#sl49{background:#9bf3ff;}
td#sl48{background:#9bf2ff;}td#sl47{background:#9bf2ff;}td#sl46{background:#9bf1ff;}td#sl45{background:#9bf0ff;}
td#sl44{background:#9befff;}td#sl43{background:#9befff;}td#sl42{background:#9aeeff;}td#sl41{background:#9aedff;}
td#sl40{background:#9aecff;}td#sl39{background:#9aebff;}td#sl38{background:#9aebff;}td#sl37{background:#9aeaff;}
td#sl36{background:#9ae9ff;}td#sl35{background:#9ae8ff;}td#sl34{background:#9ae8ff;}td#sl33{background:#9ae7ff;}
td#sl32{background:#9ae6ff;}td#sl31{background:#9ae5ff;}td#sl30{background:#9ae5ff;}td#sl29{background:#9ae4ff;}
td#sl28{background:#9ae3ff;}td#sl27{background:#9ae2ff;}td#sl26{background:#9ae2ff;}td#sl25{background:#9ae1ff;}
td#sl24{background:#9ae0ff;}td#sl23{background:#9adfff;}td#sl22{background:#9adfff;}td#sl21{background:#99deff;}
td#sl20{background:#99ddff;}td#sl19{background:#99dcff;}td#sl18{background:#99dbff;}td#sl17{background:#99dbff;}
td#sl16{background:#99daff;}td#sl15{background:#99d9ff;}td#sl14{background:#99d8ff;}td#sl13{background:#99d8ff;}
td#sl12{background:#99d7ff;}td#sl11{background:#99d6ff;}td#sl10{background:#99d5ff;}td#sl9{background:#99d5ff;}
td#sl8{background:#99d4ff;}td#sl7{background:#99d3ff;}td#sl6{background:#99d2ff;}td#sl5{background:#99d2ff;}
td#sl4{background:#99d1ff;}td#sl3{background:#99d0ff;}td#sl2{background:#99cfff;}td#sl1{background:#99cfff;}