html {
 <!--background-image: url(https://img97.imageshack.us/img97/2460/backgroundni.png);--> 
 background-repeat: repeat-x;
 background-attachment: fixed; 
 background-color: #f0efff;		
}

hr { 
 border: black 1px; 
 border-style: none none solid none;	
}

#header {
 background-image: url(https://img33.imageshack.us/img33/4905/e2fromfontoverlap.png);
 background-repeat: no-repeat;
 background-position: center;
 height: 180px;
 text-align: center;
 margin: 0 auto;
}

#e2logo {
 filter: alpha(opacity=0);
 opacity: 0;
 position: relative; 
 bottom: 1.7em;	
}

#footer	{
 margin-top: 1em;
 border-top: solid 1px;
}

#homenodeheader dt {
 font-weight: bold;
}

#searchform {
 position: relative;
 top: 155px;
}

/* font sizes / styling */

#e2logo a {
 font-size: 120px;
}
#chatterbox p,
#chatterbox a,
#chatterbox input {
 font-size: 10px;
}

.sentmessage {
 font-size: 10px; 
 text-align: left;
 background-color: #f0efff;
}

#chatterlight_search {
 font-size: 16px; 
 font-family: "arial"; 
 font-weight: bold;
}

#footer,
#footer a {
 clear: left;
 width: 100%;
 text-align: center; 
 line-height: 2em;
}

#frontpage_news_title a	{
 font-size: 60px;
}

#loglinks li a { 
 font-family: "arial"; font-size: 12px;
 font-weight: bold;
}

.nodetitle {
 font-size: 25px;
 text-align: center;
}

#node_search {
 font-family: "arial";
 font-size: 16px; 
 font-weight: bold;
}

#staff_picks .morelink a,
#newwriteups .morelink a,
#cooluserpicks .morelink a {
 font-size: 40px;
}

.writeuppage .contentheader,
.writeuppage .contentheader a {
 text-align: center;
}

p, a, body, 
.topic, .topic a {
 font-family: "calibri", "arial", "helvetica"; 
 font-size: 12px;
}

code, code a, tt, tt a,
pre, pre a {
 font-family: "courier new";
}

.writeuppage .contentheader,
.writeuppage .contentheader a,
#homenodeheader,
#homenodeheader a,
#homenodetext .content,
#homenodetext p,
#homenodetext a,
#bookmarks a,
#bookmarks ul,
#footer, footer a,
small a,
#links p, #links a,
#epicenter_zen a,
#epicenter_zen_commands strong,
sentmessage{
 font-size: 10px;
}

sentmessage {
 overflow: auto;
 text-align: left;
}

/* nested i/em tags display as un-italicised text */
i i,
em em,
i em,
em i 			{	font-style: normal;			}
h1			{	font-size: 160%;			}	
h2			{	font-size: 130%;			}
h3			{	font-size: 110%;			}
h4			{	font-size: 100%;			}
h5			{	font-size: 90%;				}
h6			{	font-size: 80%;				}
big 			{	font-size: 125%;			}
small 			{	font-size: 80%;				}

/* linked h text displays the same size as unlinked */
h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a, big a	{	font-size: 100%;			}

#wubytype p {
 text-align: center;
}

#node_search, 
#chatterlight_search {
 width: 500px;
 height: 20px;
}

#epicenter_zen {
 position: absolute; left: 0.5em; right: 0.5em; 
 overflow: auto;
 border-bottom: solid 1px;
 padding: 0 0 0.4em 0; 
 margin-top: -0.4em
}

#epicenter_zen_info,
#epicenter_zen_commands	{
 float: left;
 word-wrap: break-word;
}

#epicenter_zen_commands:before 
{
 content: "|";
}

/*width of New Writeups pic is 74px*/
#newwriteups .morelink {
 position: absolute;
 top: 20em;
 left: 47%;
}

#cooluserpicks .morelink{
 margin: 0 auto;
 position: relative; 
 right: 13.5em;
 bottom: 1em;
}

#staff_picks .morelink {
 margin: 0 auto;
 position: relative;
 bottom: 2.2em;
 right: 6em;
}

#frontpage_news_title {
 position: relative;
 left: 25em;
 bottom: 2.85em
}

#loglinks li a {
 position: relative;
 bottom: 3.1em;
 left: 12em;
}

#mainbody,
#sidebar,
#chatterlight_mainbody	{
 margin: 0 auto;
 width: 65em;
}

#mainbody {
 margin-top: 6em;
 margin-bottom: 5em;
}

#welcome_message {
 margin: 0 auto;
 width: 50em;
 text-align:center;
}

.nodetitle {
 border-style: none none solid none;
 border-width: 1px;
 padding-bottom: 0.2em;
 margin-bottom: 1em;
}

#wubytype th,
#wubytype table	{
 border-collapse: collapse;
 border-style: none none solid none; 
 border-width: 1px;
}

#wubytype td {
 padding: 0.2em 0 0.1em 0;
}

#newwriteups .morelink {
 background-image: url(https://img62.imageshack.us/img62/1903/newwriteups.png);
 background-repeat: no-repeat;
 overflow: hidden;
 width: 74px;
 height: 11px;
}

#newwriteups .morelink a{
 margin-left: -0.1em;
}

#cooluserpicks .morelink { 
 background-image: url(https://img44.imageshack.us/img44/3902/coolarchive.png); 
 background-repeat: no-repeat; 
 overflow: hidden; 
 width: 68px; 
 height: 10px;
}

#cooluserpicks .morelink a {
 margin-left: -0.5em;
}

#staff_picks .morelink	{
 background-image: url(https://img62.imageshack.us/img62/4124/staffpicks.png);
 background-repeat: no-repeat;
 overflow: hidden;
 width: 57px;
 height: 9px;
}

#staff_picks .morelink a {
 margin-left: -0.5em;
}

#frontpage_news_title {
 background-image: url(https://img89.imageshack.us/img89/3883/newsfornoders.png);
 background-repeat: no-repeat;
 overflow: hidden;
 width: 90px;
 height: 13px;
}

#loglinks {
 position: relative;
 top: 4em;
 left: 37.5%;
}

#loglinks ul {
 list-style-type: none;
 margin-left: -40px;
}

#loglinks li {
 display: inline; 			
 margin-left: 1em; 
 margin-right: 1em;
}

#loglinks a {
 font-size: 10px; text-decoration: none;
}

/* writeup header */
.writeuppage .contentheader,
.writeuppage .contentheader a {
 margin-bottom: 1em;
 position: relative;
}

.wu_dtcreate:before {
 content: "posted on ";
}

.wu_dtcreate,
.wu_typeauthorprint {
 width: 40%;
}

.wu_vote {
 width: 20%;
}

.wu_cfull {
 padding: 0.3em 0em 0.3em 0em;
}

/*end writeup header*/
.writeuppage .item .content,
#skratch_form .content {
 text-align: justify;
 padding-bottom: 1em;
 margin-bottom: 1em;
 border-bottom: solid 1px;
}

#mainbody form 	{
padding-bottom: 1em;
}

#mainbody textarea {
 width: 100%;				
 text-align: left;
}

#softlinks {
 width: 100%;
 border-top: solid 1px;
}

#softlinks td {
 border-style: none none solid none;
 border-width: 1px; 
 width: 25%; 
 text-align: center;
}

form.writeup_add {
 margin-top: 1em;
}

.writeup_add textarea,
#ed_toolbar_writeup_doctext {
 width: 100%; text-align: center;
}

/*news for noders */
.weblog cite {
 font-size: 10px; 
 float: left; 
 clear: left;
}

.weblog .date {
 font-size: 10px;
 float: right;
}

.weblog cite,
.weblog .date {
 margin-bottom: 1em;
}

.weblog .date:before {
 content: "posted on ";
}

.weblog .content {
 clear: left;
 text-align: justify;
}

/*end news for noders*/
#chatterbox {
 position: absolute;
 top: -3px; 
 right: 6px;
 width: 44.4%; 
 text-align: right;
}

#formcbox input,
#chatterboxsettingswidget {
 position: relative;
 top: 3px;
}

#chatterbox_messages {
 position: relative;
 top: 5px;
}

#message {
 position: relative;
 top: 4px;
 width: 202px;
 font-size: 10px;
}

.sentmessage {
 position: absolute;
 top: 20px;
 width: 206px;
 border: dashed 1px;
}

/*collapse the catbox nodelet*/
#chatterbox br {
 display: none;
}

#formcbox p,
#formcbox #chatterbox_messages {
 display: inline;
}

/*homenodes*/
#bookmarks {
 float: left; 
 clear: left; 
 width: 100%;
}

#homenodetext, 
#bookmarks {
 border-top: solid 1px;
}

#bookmarks ul {
 margin-left: -28px;
}

#homenodepicbox	{
 float: left;
 width: 50%; 
 overflow: auto;
}

#homenodeheader dl {
 width: 46%; 
 float: left; 
 margin-top: 0; 
 margin-left: 4%;
}

#homenodeheader dt { 
 float: left; 
 clear: left; 
 width: 17em; 
 margin-top: 0.5em;
}

#homenodeheader dd {
 overflow: auto;
 margin-top: 0.5em;
}

#homenodeheader dd input[type=text]{
 width: 98%;
 position: relative; 
 bottom: 1.3em;
}

#homenodeheader label {
 position: relative;
 right: 0.4em; 
 top: 2.8em;
}

#homenodeheader dt:after{
 content: ": ";
}

.stylesheet #mainbody form:after{
 display: block ;
 margin-top: 20px;
 content: "Although awesome, I do not recommend e2gle for new users; it hides a lot of stuff you are only aware of when you've been here a while. Also, the catbox is not displayed.";
 font-weight: bold ;
}

#footer,
#epicenter_zen br,
#loglinks a.populated,
#homenodeheader dd input[type=submit],
#talk_button,
#talk_button input,
#chatterbox .nodelet_title,
#chatterbox_chatter,
#formcbox #chatterbox_messages,
#formcbox label,
#chatterbox .nodeletfoot,
#chatterbox small,
#formcbox hr,
.privmsg,
.clear,
.wu_footer .wu_vote,
.wu_footer .wu_sendmsg,
.wu_notnew,
.createdby,
#chatterlight_hints,
#loglinks h3,
#frontpage_news .weblog .item,
#frontpage_news .morelink,
#staff_picks h3,
#cooluserpicks h3,
#newwriteups .nodelet_title,
#coolstaffpicks.nodelet,
#printlink,
#cooluserpicks ul,
#staff_picks ul,
#newwriteups ul,
#voteInfo,
#search_form label,
#search_submit,
#newwriteups form,
#newwriteups .nodelet_content cite, 
#newwriteups .type,
#surveymessage,
#creamofthecool,
#notifications.nodelet,
#statistics.nodelet,
#everythingdeveloper.nodelet,
#newlogs.nodelet,
#categories.nodelet,
#randomnodes.nodelet,
#usergroupwriteups.nodelet,
#recentnodes,nodelet,
#ads.nodelet,
#notelet.nodelet,
#readthis.nodelet,
#quickreference.nodelet,
#vitals.nodelet,
#otherusers.nodelet,
#currentuserpoll.nodelet,
#e2zeitgeist.nodelet,
#personallinks.nodelet	{	display: none;			}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}

