/* 2000528-var.css (Bookwormier by ascorbic - CSS Variables Edition) */
/* This is a CSS variable-based version for A/B testing with ?csstest=1 */

:root {
  /* Theme-specific variables will be added as colors are identified */
  /* For now, this version matches the original stylesheet */
}

/*= autofix added rules. adjust to taste: */
.actions , .actions li {display:inline;margin:0;padding:0 0.5em 0 0;}
.actions { display: block ; }
/*= end autofix added rules */
/* autofix added basic compatibility rules */
.weblog .title,.weblog .date,.weblog .contentinfo cite,.nodelet .title {display: block;}
.weblog .title {margin-bottom:0.5em;font-weight:bold;font-size:107%;}
.weblog .title, .nodelet .title {font-weight: bold;}
/* end autofix added rules */
/****** COLOURS ******/
body,
th,
td,
{
background-color: #fff;
color: #151500;
}
body {
background-image: url("../static/bookwormier/e2bg.jpg");
}
/* darker detailing/backgrounds */
/*.nodelet_title,
#header,
#footer,
#footer a:link,
#footer a:visited,*/
#epicenter_zen {
background-color: #fff;
}
.nodelet {
font-size: 95%;
}
/* same color as body */
#header,
#footer,
#footer a:link,
#footer a:visited,
#epicenter_zen a:link,
#epicenter_zen a:visited,
.nodelet_title  {
color: #5F5F5F;
}
/* medium backgrounds/details */
#searchform label, #epicenter_zen, #footer,.wu_header {
font-size: 75%;
font-family: candara, tahoma, sans-serif;
}
/* fractionally darker-than-body */
.nodelet_title,  .oddrow,
.oddrow td,
#homenodeheader dt,
#cooluserpicks,
#staff_picks,
#loglinks,
#softlinks td,
.writeuppage .contentheader{
background-color: #F9F9F8;
}
/* faint light borders */
#cooluserpicks,
#staff_picks,
#loglinks,
#softlinks td {
border-color: #d3d3d3;
}
.nodelet {
background-color: white;
border: 1px #bbb solid;
}
/* dark horizontal rules */
.nodetitle,
#creamofthecool .contentinfo {
border-bottom-color: #ccc;
}
.weblog .item .content {
border-top-color: #ccc;
}
/* miscellaneous */
td {
background-color: transparent;
}
a:link {
color: #203860;
}
a:visited {
color: #507898;
}
a:link, a:visited {
text-decoration: none;
border-bottom: 1px #ccc dotted;
}
a:active,
a:hover,
a:focus {
border-bottom-style: solid;
}
/* red */
.nodeshell a {
color: #8b0000;
}
.nodeshell a:active,
.nodeshell a:hover,
.nodeshell a:focus {
color: #ff0000;
}
/****** FORMATTING ******/
body {
margin: 0;
padding: 0;
font-family:  "Adobe Caslon Pro", "Adobe Garamond Pro", Garamond, "Garamond Premier Pro", Baskerville, "Hoefler Text", "Lucida Bright", "URW Bookman L", Georgia, serif;
font-size: 105%;
}
.writeup_text {
font-size: 110%;
line-height: 150%;
}
.wu_type {
padding-left: 15px;
}
* html div#header {
/* Make sure IE6 doesn't go mad with the header */
width: 100%;
padding-right: 0;
padding-left: 0;
}
table {
font-size: 100%;
}
th,
td {
margin: 0;
padding: 0;
}
h1 {
font-size: 140%;
font-weight: bold;
}
h2 , h3.nodelet_title {
font-size: 130%;
font-weight: bold;
}
h3 {
font-size: 120%;
font-weight: bold;
}
h4 {
font-size: 100%;
font-weight: bold;
}
h5 {
font-size: 90%;
font-weight: bold;
}
h6 {
font-size: 80%;
font-weight: bold;
}
big {
font-size: 125%;
}
big big big big, small small small  {
font-size: 100%; /* cannot nest more than 3 <big> or <small>s */
}
small {
font-size: 80%; /* a <big> and a <small> multiply to 100% */
}
/* nested italic tags give normal font */
i i,
i em,
em i,
em em {
font-style: normal;
}
tt {
font-size: 100%;
}
form {
margin: 0;
padding: 0;
}
dt {
font-weight: bold;
}
div#header {
width: 100%;
margin: 0;
overflow: visible;
}
#epicenter_zen {
padding: 2px 2px 2px 2.5em;
border-bottom: 1px solid #c5cdd7;
text-align: left;
}
#epicenter_zen br {
display: none;
}
div#searchform {
float: right;
width: 410px;
text-align: right;
padding: 0;
margin: 5px 2px;
}
form#search_form {
}
input#node_search {
margin-top: 15px;
float: left;
padding-left: 20px;
background-image: none; /* React SearchBar has its own icon */
background-repeat: no-repeat;
font-size: 12px;
}
input#search_submit {
margin-top: 15px;
float: left;
}
#search_form label {
display: block;
font-size: 75%;
float: right;
clear: right;
text-align: left;
width: 100px;
margin: 0;
padding: 0;
height: 15px;
}
input#near_match {
float: left;
margin: 0px;
padding: 0px;
}
input#match_all {
float: left;
margin: 0px;
padding: 0px;
}
input#full_text {
float: left;
margin: 0px;
padding: 0px;
}
div#e2logo {
background-image: url(../static/bookwormier/e2logo.gif);
background-repeat: no-repeat;
width: 250px;
height: 50px;
overflow: hidden;
margin: 5px 20px;
}
div#e2logo a,
div#e2logo a:link,
div#e2logo a:visited,
div#e2logo a:active {
display: block;
font-size: 130%;
font-style: italic;
padding-left: 300px;
text-decoration: none;
border-bottom: none;
color: #445;
}
#wrapper {
clear: both;
padding-right: 280px; /* sidebar goes in this gap */
margin: 2px 2px 20px 20px;
}
#mainbody {
float: left;
width: 100%;
margin-bottom: 20px;
padding: 5px;
background-color: white;
border: 1px #bbb solid;
}
#mainbody > *:first-child {
margin-top: 0;
}
.nodetitle {
padding-bottom: 1px;
border-bottom-width: 1px;
border-bottom-style: dotted;
margin: 5px 0 1px;
padding: 10px 20px;
}
/* TODO: introduce print-only styles to deprecate the "printable" view entirely */
p#printlink {
text-align: right;
font-size: 80%;
width: 16px;
height: 16px;
overflow: hidden;
background-image: url(../static/bookwormier/printer.png);
float: right;
}
p#printlink a {
padding-left: 100%;
}
/*** FRONT PAGE SPECIFIC ***/
#welcome_message {
margin: 20px;
text-align: center;
font-weight: bold;
}
#tagline {
margin:0px auto;
font-size:1.2em;
}
#wit {
margin:8px auto;
font-size:1em;
}
#loglinks,
#cooluserpicks,
#staff_picks {
max-width: 33%;
clear: both;
float: left;
margin-right: 20px;
margin-bottom: 2px;
width: 250px;
border-width: 1px;
border-style: solid;
padding: 5px;
}
#cooluserpicks h3,
#loglinks h3,
#staff_picks h3 {
margin: 0;
}
.linklist , .linklist li {
padding: 0;
margin: 0;
display: block ;
list-style: none outside none;
}
#mainbody .linklist {
margin: 5px 0;
}
#mainbody .linklist li {
padding: 1px 0;
border-bottom-width: 1px;
border-bottom-style: solid;
text-align: left;
border-bottom-color: #d3d3d3;
}
#mainbody .linklist li a {
padding: 1px;
display: block;
text-decoration: none;
border-bottom: none;
}
.morelink,
.editlink,
.sp_more {
text-align: right;
}
#bestnew {
margin:8px 60px;
}
h3#creamofthecool_title {
margin: 0 0 10px 0;
}
#creamofthecool .content {
margin: 5px 0;
}
#cotc {
overflow: hidden;
}
#creamofthecool .item {
margin: 0px 0;
}
#creamofthecool .contentinfo {
font-weight: bold;
padding-bottom: 5px;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-bottom: 2px;
}
#creamofthecool .contentinfo a {
text-decoration: none;
border-bottom: none;
}
#creamofthecool .content {
}
#creamofthecool .content blockquote {
margin: 0 5%;
}
#creamofthecool .morelink {
text-align: right;
}
#frontpage_news {
clear: both;
}
#frontpage_news h2 {
}
/* news entries resemble writeups: */
.weblog .item {
margin: 20px 0;
}
.weblog .item .title {
display: inline;
font-weight: bold;
}
.weblog .item .title {
text-decoration: none;
border-bottom: none;
}
.weblog .item .contentinfo cite {
margin-left: 5px;
display: inline;
font-weight: bold;
}
.weblog .item .contentinfo cite a {
text-decoration: none;
border-bottom: none;
}
.weblog .item .date {
margin-left: 5px;
display: inline;
font-weight: bold;
}
.weblog .item .date:before {
content: "on ";
}
.remove {
margin-left: 5px;
display: inline;
font-weight: bold;
}
.weblog .item .content {
clear: both;
margin-top: 3px;
border-top-width: 1px;
border-top-style: solid;
padding: 10px 0;
}
.weblog .item .content>p {
margin-top: 0;
}
/*** END FRONT PAGE ***/
/*** REGULAR NODES ***/
#firmlink,
#isalso,
.topic {
margin: 1px 0 0;
padding: 0;
font-size: 90%;
font-weight: normal;
text-indent: 0px;
}
.createdby {
margin: 10px 0;
text-align: right;
}
.writeuppage .item {
margin-bottom: 20px;
}
.writeuppage .contentheader {
padding: 5px;
/*	border-top-color: #333333;
border-top-width: 1px;
border-top-style: solid;
*/}
.writeuppage .contentheader td {
}
.writeuppage .item .content {
padding: 20px 70px 10px 70px;
overflow: auto;
}
p {
margin: 10px 0;
}
pre, tt, code, textarea {
font-family: Consolas, "Andale Mono", "Courier New", monospace;
font-size: 100%;
}
pre {
/* to stop page-widening */
display: block;
overflow: auto;
}
textarea {
width: 100%;
color: #333;
}
ul { list-style: disc; }
ul ul { list-style: circle; }
ul ul ul { list-style: square; }
ul ul ul ul { list-style: disc; }
ul ul ul ul ul { list-style: circle; }
ul ul ul ul ul ul { list-style: square; }
.content table {
border-collapse: collapse;
}
.content th , .content td  {
border: 1px solid gray;
padding: 3px;
}
.wu_footer td {
text-align: center;
width: 10%;
padding: 5px;
}
#displaytypelinks {
margin: 5px 0;
font-size: 90%;
text-align: right;
}
#displaytypelinks p {
margin: 0;
}
#killbutton,
#votebutton,
#blabbutton {
float: right;
margin: 5px 0;
}
#softlinks {
margin: 5px 0;
clear: both;
}
#softlinks table {
border-collapse: collapse;
}
#softlinks td {
border-width: 1px;
border-style: solid;
padding: 5px;
text-align: center;
width: 25%;
}
#softlinks td a {
}
#softlinks td a:hover {
}
.writeup_add {
margin: 20px 0;
}
/*** END REGULAR NODES ***/
/*** HOMENODES ***/
#homenodeheader {
margin-top: 20px;
}
#homenodepicbox {
float: left;
}
#userimage {
}
#homenodeheader dl {
width: 40%;
float: right;
display: block;
}
#homenodeheader dt {
display: block;
padding: 2px;
font-size: 90%;
}
#homenodeheader dd {
padding: 2px;
margin: 0;
text-align: right;
font-size: 90%;
}
hr.clear {
/*
I can only find one place where hr.clear appears
so I don't know if this will break other pages
clear: both;
visibility: hidden;
*/
display: none;
}
#homenodetext {
width: 100%;
clear: both;
}
#homenodetext td {
padding: 10px 50px;
}
#bookmarks {
padding: 20px 50px;
}
#bookmarks h4 {
}
#bookmarks ul {
}
#bookmarks li {
}
/*** END HOMENODES ***/
/*** SCRATCHPAD ***/
#scratchpadtable {
border-collapse: collapse;
border-width: 1px;
}
#scratchpadtable td {
padding: 20px;
}
/*** END SCRATCHPAD ***/
/*** TABLES OF DATA ***/
.oddrow td,
.evenrow td {
padding: 4px;
}
/*** END TABLES ***/
#mainbody > *:last-child {
margin-bottom: 0;
}
#sidebar {
float: left;
margin-left: 10px;
width: 250px;
margin-right: -100%;
}
/* These appear at the top of the sidebar iff you have no chatterbox nodelet */
#msgnum,
#msgunarchived {
}
.nodelet {
clear: both;
padding: 0;
word-wrap: break-word; /* ? */
margin-bottom: 2px;
border-style: 1px #666 solid;
}
.nodelet_title {
display: block;
margin: 0;
padding: 5px 5px 2px 5px;
text-align: center;
font-variant: small-caps;
}
.nodelet_content {
padding: 5px;
}
.nodelet ol, .nodelet ul {
padding-left: 3px;
list-style-position: inside;
}
/*** NEW WRITEUPS ZEN NODELET (#1868940) ***/
.nodelet .infolist {
margin: 0;
padding: 0;
list-style: none outside none;
}
.nodelet .infolist li {
margin: 0;
padding: 1px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-color: #d3d3d3;
}
.nodelet .infolist .contentinfo {
display: block;
}
.nodelet .morelink {
text-align: right;
}
/*** END NEW WRITEUPS ZEN NODELET ***/
/*** EPICENTER NODELET (#262) ***/
#epicenter ul {
margin: 5px;
padding: 0;
list-style: disc inside none;
}
#epicenter li {
}
#experience {
font-size: 110%;
}
/*** END EPICENTER NODELET ***/
/*** CHATTERBOX NODELET (#170070) ***/
/* catbox symbols... */
#chatterbox {
}
/*** REMOVED BY BONCI - 2018-04-29
#chatterbox .nodelet_content {
overflow: auto;
}
***/
.chat_user {
display: inline-block;
margin-top: 0.5em;
}
input#message {
width: 90%;
margin: 0 -1px;
}
/*** END CHATTERBOX NODELET ***/
/* PERSONAL LINKS NODELET */
#personallinks .linklist {
margin-bottom: 1em ;
}
#catbox_chatter {
line-height: 110%;
font-size: 95%;
}
/*** AD NODELET (#1931151) ***/
#ads {
background-color: white;
}
#ads h2 {
display: none;
}
/*** END AD NODELET ***/
#footer {
clear: both;
padding: 5px;
text-align: center;
}
.begheader {
}
#metalinks {
display: none;
}
/* CHATTERLIGHT */
#chatterlight_mainbody {
float: left;
width: 75%;
}
#chatterlight_mainbody #links,
#chatterlight_mainbody #chatterbox_nodelet,
#chatterlight_mainbody #chatterlight_search {
margin: 1em;
}
#chatterlight_credit { display: none; }
#chatterlight_hints { display: none; }
#chatterlight_mainbody .nodelet {
float: none;
width: auto;
padding: 0;
}
#chatterlight_NW,
#chatterlight_Notifications {
float: left;
width: 25%;
}
#chatterlight_NW #newwriteups,
#chatterlight_Notifications #notifications {
margin: 1em;
}
#chatterlight_NW .nodelet,
#chatterlight_Notifications .nodelet {
float: none;
width: auto;
padding: 0;
}
/*** Mobile bits ***/
#mobilewrapper {
font-family: georgia;
font-size: 14px;
}
#mobilewrapper small {
font-size: 90%;
}
#mobilewrapper div#e2logo {
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5F5F5F), to(black));
background-repeat: no-repeat;
width: auto;
height: 30px;
overflow: ellipsis;
top: 0;
left: 0;
right: 0;
padding: 7px 10px 0 10px;
text-align: center;
margin: 0;
}
#mobilewrapper #homenodeheader dl {
width: auto;
clear: both;
float: none;
display: block;
}
#mobilewrapper #bookmarks {
padding: 0;
}
#mobilewrapper #homenodepicbox img {
width: 95%;
margin: auto;
display: block;
}
#mobilewrapper #homenodetext td {
padding: 0;
overflow: auto;
}
#mobilewrapper #search_form label {
clear: none;
}
#mobilewrapper h1#e2logo .e2logo2 {
font-size: 10px;
}
#mobilewrapper #mainbody {
padding: 0;
}
#mobilewrapper #e2logo2 {
font-size: 10px;
font-weight: bold;
}
#mobilewrapper h1#e2logo a,
#mobilewrapper h1#e2logo a:link,
#mobilewrapper h1#e2logo a:visited,
#mobilewrapper h1#e2logo a:active {
font-size: 20px;
font-style: normal;
padding: 0;
text-decoration: none;
border-bottom: none;
color: #F9F9F8;
}
#mobilewrapper h1.nodetitle {
font-size: 18px;
text-align: center;
margin: 0;
}
#mobilewrapper #epicenter_zen {
display: none;
}
#mobilewrapper > #wrapper {
padding: 0 5px;
margin: 0;
overflow: auto;
}
#mobilewrapper textarea {
width: 90%;
margin: auto;
height: 100px;
}
#mobilewrapper .wu_header td {
text-align: center;
}
#mobilewrapper #softlinks td, #mobilewrapper .wu_footer td , #mobilewrapper .wu_header td  {
display: block;
clear: both;
width: auto;
}
.writeuppage #mobilewrapper .item .content {
padding: 10px;
overflow: auto;
}
#zen_mobiletabs {
color: transparent;
margin-left: 5px;
padding-top: 5px;
/*	width: 256px;
margin: auto;*/
font-size: 0;
/*	padding-left: 20px;*/
}
.zen_mobiletab_selected, .zen_mobiletab {
display: block;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
width: 75px;
float: left;
text-align: center;
font-family: helvetica, sans-serif;
padding: 4px 0;
font-size: 14px;
color: #eeF;
font-variant: small-caps;
font-weight: bold;
border: 1px #bbb solid;
border-bottom: none;
margin-right: 1px;
}
.zen_mobiletab_selected {
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bbb));
color: black;
}
.zen_mobiletab {
background: white;
}
.zen_mobiletab > A:link, .zen_mobiletab > A:visited  {
color: #555;
border: none;
}
/* Hide stuff */
#mobilewrapper .createdby, #mobilewrapper td.wu_length, #mobilewrapper td.wu_hits, #mobilewrapper .topic.actions {
display: none;
}/* SOFTLINK COLORS */
td#sl64{background:#f9f9f8;}td#sl63{background:#f9f9f8;}td#sl62{background:#f9f9f8;}td#sl61{background:#f9f9f8;}
td#sl60{background:#f9f9f8;}td#sl59{background:#f9f9f8;}td#sl58{background:#f9f9f8;}td#sl57{background:#f9f9f8;}
td#sl56{background:#f9f9f8;}td#sl55{background:#f9f9f9;}td#sl54{background:#f9f9f9;}td#sl53{background:#fafaf9;}
td#sl52{background:#fafaf9;}td#sl51{background:#fafaf9;}td#sl50{background:#fafaf9;}td#sl49{background:#fafaf9;}
td#sl48{background:#fafaf9;}td#sl47{background:#fafaf9;}td#sl46{background:#fafafa;}td#sl45{background:#fafafa;}
td#sl44{background:#fafafa;}td#sl43{background:#fbfbfa;}td#sl42{background:#fbfbfa;}td#sl41{background:#fbfbfa;}
td#sl40{background:#fbfbfa;}td#sl39{background:#fbfbfa;}td#sl38{background:#fbfbfa;}td#sl37{background:#fbfbfb;}
td#sl36{background:#fbfbfb;}td#sl35{background:#fbfbfb;}td#sl34{background:#fbfbfb;}td#sl33{background:#fbfbfb;}
td#sl32{background:#fcfcfb;}td#sl31{background:#fcfcfb;}td#sl30{background:#fcfcfb;}td#sl29{background:#fcfcfb;}
td#sl28{background:#fcfcfc;}td#sl27{background:#fcfcfc;}td#sl26{background:#fcfcfc;}td#sl25{background:#fcfcfc;}
td#sl24{background:#fcfcfc;}td#sl23{background:#fcfcfc;}td#sl22{background:#fdfdfc;}td#sl21{background:#fdfdfc;}
td#sl20{background:#fdfdfc;}td#sl19{background:#fdfdfd;}td#sl18{background:#fdfdfd;}td#sl17{background:#fdfdfd;}
td#sl16{background:#fdfdfd;}td#sl15{background:#fdfdfd;}td#sl14{background:#fdfdfd;}td#sl13{background:#fdfdfd;}
td#sl12{background:#fdfdfd;}td#sl11{background:#fefefd;}td#sl10{background:#fefefe;}td#sl9{background:#fefefe;}
td#sl8{background:#fefefe;}td#sl7{background:#fefefe;}td#sl6{background:#fefefe;}td#sl5{background:#fefefe;}
td#sl4{background:#fefefe;}td#sl3{background:#fefefe;}td#sl2{background:#fefefe;}td#sl1{background:#ffffff;}
