/* 2004473-var.css (print by e2coders - CSS Variables Edition) */
/* This is a CSS variable-based version for A/B testing with ?csstest=1 */

:root {
  --e2-print-bg: white;
  --e2-print-text: black;
}

.noprint , #printlink , #header , #footer , .topic , #displaytypelinks, .writeuppage .contentfooter ,
#votefooter , #softlinks , .writeup_add , #sidebar , form , .writeuppage form.writeup_add, #skratch_form > * {
display: none ;
}
.writeuppage form , form#pagebody, #skratch_form , #skratch_form > .content , #skratch_form > .title {
display: block ;
margin: 0 ;
padding: 0 ;
}
body , :link , :visited {
background: var(--e2-print-bg) ;
color: var(--e2-print-text) ;
}
body {
width: 100% ;
margin: 0 ;
padding: 0 ;
}
body , body .content {
border: none ;
}
.contentheader {
page-break-after: avoid ;
}
table , tr , td {
page-break-inside: auto ;
page-break-before: avoid ;
}
.content td , .content th {
page-break-inside: avoid ;
page-break-before: auto ;
}
h1 {
font-size: 140% ;
}
h2 {
font-size: 125% ;
}
h3 {
font-size: 110% ;
}
/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
