/* 2029380.css (Pamphleteer by ascorbic) */
/* Converted to CSS variables - overrides basesheet defaults */
/* Layout rules removed for React compatibility - inherits from basesheet */

/* Custom font faces - Essays 1743 and Linux Libertine */
@font-face {
  font-family: 'Essays 1743';
  src: url('../static/pamphleteer/essays1743-webfont.eot');
  src: local('Essays 1743'), url('../static/pamphleteer/essays1743-webfont.woff') format('woff'), url('../static/pamphleteer/essays1743-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Essays 1743';
  src: url('../static/pamphleteer/essays1743-italic-webfont.eot');
  src: local('Essays 1743'), url('../static/pamphleteer/essays1743-italic-webfont.woff') format('woff'), url('../static/pamphleteer/essays1743-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../static/pamphleteer/linlibertine_re-4.7.5-webfont.eot');
  src: local('Linux Libertine'), url('../static/pamphleteer/linlibertine_re-4.7.5-webfont.woff') format('woff'), url('../static/pamphleteer/linlibertine_re-4.7.5-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../static/pamphleteer/linlibertine_bd-4.1.5-webfont.eot');
  src: local('Linux Libertine'), url('../static/pamphleteer/linlibertine_bd-4.1.5-webfont.woff') format('woff'), url('../static/pamphleteer/linlibertine_bd-4.1.5-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../static/pamphleteer/linlibertine_it-4.2.6-webfont.eot');
  src: local('Linux Libertine'), url('../static/pamphleteer/linlibertine_it-4.2.6-webfont.woff') format('woff'), url('../static/pamphleteer/linlibertine_it-4.2.6-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  /* Pamphleteer color palette - classic black and white typographic theme */
  --e2-color-primary: #000000;            /* Black text */
  --e2-color-link: #000000;               /* Black links with dotted underline */
  --e2-color-link-visited: RosyBrown;     /* Classic visited link color */
  --e2-color-link-active: #444444;        /* Dark gray on hover */
  --e2-color-accent: #667;                /* Gray-blue accent for shadows */

  /* Backgrounds */
  --e2-bg-body: #ffffff;                  /* White page background */
  --e2-bg-nodelet: #ffffff;               /* White nodelet background */
  --e2-bg-header: #ffffff;                /* White header */
  --e2-bg-hover: #f8f8f8;                 /* Light gray hover */
  --e2-bg-sidebar: transparent;
  --e2-bg-oddrow: #f4f4f4;                /* Very light gray for alternating rows */

  /* Text colors */
  --e2-text-body: #000000;                /* Black text */
  --e2-text-header: #000000;              /* Black header text */
  --e2-text-muted: #666666;               /* Gray muted text */

  /* Borders */
  --e2-border-light: #cccccc;
  --e2-border-nodelet: #aaaaaa;
  --e2-border-color: #dddddd;
  --e2-border-color-light: #eeeeee;
  --e2-border-color-hover: #888888;

  /* Buttons */
  --e2-btn-primary-bg: #000000;
  --e2-btn-primary-text: #ffffff;
  --e2-btn-secondary-bg: #f4f4f4;
  --e2-btn-secondary-border: #aaaaaa;

  /* Warning colors */
  --e2-warning-bg: #fff8dc;
  --e2-warning-text: #856404;

  /* Nodelet header */
  --e2-nodelet-header-bg: #f4f4f4;
  --e2-nodelet-header-text: #000000;

  /* Epicenter */
  --e2-epicenter-bg: #f4f4f4;
  --e2-epicenter-text: #000000;

  /* Nodelet controls/filters */
  --e2-nodelet-filter-bg: #fafafa;
  --e2-input-bg: #ffffff;
  --e2-color-muted: #666666;

  /* Dialog/modal backgrounds */
  --e2-dialog-bg: #ffffff;

  /* Status colors */
  --e2-notice-bg: #f8f8f8;
  --e2-notice-border: #dddddd;
  --e2-notice-accent: #aaaaaa;

  /* Logo */
  --e2-logo-text: #000000;
  --e2-logo-bg: transparent;
}

/* ====================================================================
   LOGO - Text-based logo (override Kernel Blue image)
   ==================================================================== */

div#e2logo {
  width: auto;
  height: auto;
  overflow: visible;
  background-image: none;
}

div#e2logo a {
  padding: 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--e2-logo-text, #000000);
  text-decoration: none;
  line-height: 50px;
}

/* ====================================================================
   TYPOGRAPHY - Pamphleteer uses Linux Libertine body with Essays 1743 headings
   ==================================================================== */

html {
  -webkit-font-smoothing: antialiased;
}

body, table, td, th {
  font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
  font-size: large;
  line-height: 1.556;
  word-spacing: 0.1em;
}

h1, h2, h3 {
  font-family: 'Essays 1743', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  text-shadow: 0 0 1px #667;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 48px;
}

/* User-submitted h1s converted to h2 for SEO - style them like h1s */
h2.user-h1 {
  font-size: 50px;
  text-align: center;
  clear: both;
}

h3 {
  font-size: x-large;
  line-height: 1.167;
  margin: 1.556em 0;
}

.writeup_add h2 {
  font-size: 30px;
}

cite {
  font-style: normal;
}

p, ol {
  font-size: large;
  margin: 1.556em 0;
}

/* ====================================================================
   COLORS - Using CSS variables
   ==================================================================== */

body {
  color: var(--e2-text-body);
  background-color: var(--e2-bg-body);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--e2-color-link);
  border-bottom: 1px dotted;
}

a:visited {
  color: var(--e2-color-link-visited);
  border-bottom: 1px dotted;
}

a:link:hover, a:visited:hover {
  border-bottom: 1px solid;
}

.oddrow {
  background-color: var(--e2-bg-oddrow);
}

/* ====================================================================
   LOGO STYLING
   ==================================================================== */

div#e2logo {
  font-size: 30px;
  margin: 30px 0;
}

div#e2logo a:link, div#e2logo a:visited {
  border: none;
  color: var(--e2-logo-text);
}

/* ====================================================================
   WRITEUPS AND CONTENT
   ==================================================================== */

.topic {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
}

.createdby {
  text-align: center;
}

/* ====================================================================
   SEARCH FORM
   ==================================================================== */

#searchform {
  text-align: center;
}

/* ====================================================================
   EPICENTER ZEN BAR
   ==================================================================== */

#epicenter_zen {
  background-color: var(--e2-bg-oddrow);
  text-align: center;
}

/* ====================================================================
   PRINT STYLES
   ==================================================================== */

@media print {
  a:link, a:visited {
    color: inherit;
    text-decoration: none;
    border: none;
  }
  #sidebar, .writeup_add, #search_form, #epicenter_zen, input, label { display: none; }
}

/* ====================================================================
   MOBILE STYLES
   ==================================================================== */

@media screen and (max-device-width: 480px) {
  body, .c, span, .c, p, ol {
    font: normal 12px/18px sans-serif;
  }

  h1 {
    font: normal 18px/18px serif;
  }

  h2 {
    font: normal 16px/18px serif;
  }

  h3 {
    font: normal 14px/18px serif;
  }

  a:link, a:visited {
    text-decoration: underline;
    border: 0;
  }
}

/* ====================================================================
   SOFTLINK COLORS - Pamphleteer gradient (gray to white)
   ==================================================================== */

td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
