/* 2029380.css (Pamphleteer by ascorbic) */
@font-face {
font-family: 'Essays 1743';
src: url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-webfont.eot');
src: local('Essays 1743'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-webfont.woff') format('woff'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal
}
@font-face {
font-family: 'Essays 1743';
src: url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-italic-webfont.eot');
src: local('Essays 1743'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-italic-webfont.woff') format('woff'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/essays1743-italic-webfont.ttf') format('truetype');
font-weight: normal;
font-style: italic
}
@font-face {
font-family: 'Linux Libertine';
src: url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_re-4.7.5-webfont.eot');
src: local('Linux Libertine'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_re-4.7.5-webfont.woff') format('woff'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_re-4.7.5-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal
}
@font-face {
font-family: 'Linux Libertine';
src: url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_bd-4.1.5-webfont.eot');
src: local('Linux Libertine'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_bd-4.1.5-webfont.woff') format('woff'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_bd-4.1.5-webfont.ttf') format('truetype');
font-weight: bold;
font-style: normal
}
@font-face {
font-family: 'Linux Libertine';
src: url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_it-4.2.6-webfont.eot');
src: local('Linux Libertine'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_it-4.2.6-webfont.woff') format('woff'),url('https://s3.amazonaws.com/static.everything2.com/pamphleteer/linlibertine_it-4.2.6-webfont.ttf') format('truetype');
font-weight: normal;
font-style: italic
}
html {
overflow-y: scroll;
-webkit-font-smoothing: antialiased
}
html,body {
background: #fff;
color: #000;
margin: 0;
padding: 0
}
body {
font: large/1.556 'Linux Libertine',Palatino,'Palatino Linotype','Book Antiqua',Georgia,'Times New Roman',serif;
word-spacing: .1em;
max-width: 960px;
margin: 0 auto;
padding-bottom: 2em
}
.a,.u {
font: 100%/1 'Arial Unicode MS',FreeSerif,OpenSymbol,'DejaVu Sans',sans-serif
}
.baa {
font: oblique 105% Constantia,Baskerville,Palatino,'Palatino Linotype','URW Palladio L',serif
}
.c {
font-size: medium;
line-height: 1.75;
margin: 1.75em 0
}
.f img {
float: left;
margin-right: 5px;
margin-bottom: 5px;
-ms-interpolation-mode: bicubic
}
p,ol {
font-size: large;
margin: 1.556em 0
}
#toc ol,#toc li {
list-style: none;
margin-left: 0;
padding-left: 0
}
.a {
font-size: xx-large;
line-height: .875;
text-shadow: 0 0 2px #667
}
cite {
font-style: normal
}
a {
text-decoration: none
}
a:link {
color: black;
border-bottom: 1px dotted
}
a:visited {
color: RosyBrown;
border-bottom: 1px dotted
}
a:link:hover,a:visited:hover {
border-bottom: 1px solid
}
li ol {
margin: 0
}
h1,h2,h3 {
font-family: 'Essays 1743',Palatino,'Palatino Linotype','Book Antiqua',Georgia,'Times New Roman',serif;
font-weight: normal;
text-shadow: 0 0 1px #667
}
h1 {
font-size: 266.7%;
line-height: 1.1;
text-align: center;
width: 100%;
margin: 1.49em 0
}
div#e2logo {
font-size: 30px;
margin: 30px 0;
}
div#e2logo a:link, h1#e2logo a:visited {
border: none;
}
h2 {
font-size: 210%;
line-height: 1.3125;
margin: 1.167em 0;
text-align: center;
clear: both
}
.writeup_add h2 {
font-size: 30px;
}
h3 {
font-size: x-large;
line-height: 1.167;
margin: 1.556em 0;
text-align: center
}
h1:before {
content: '&#8470;' counter(h1) '. '
}
h1:before {
content: ''
}
h1,h2,h3 {
padding: 0;
margin: 0;
border: 0;
text-align: center;
clear: both
}
h1 {
font-size: 50px;
}
h2 {
font-size: 48px
}
ol {
margin: 1em 0 0 0;
padding: 0
}
#epicenter_zen {
position: absolute;
bottom: 0;
display: none;
}
.topic.actions {
list-style-type: none;
padding: 0;
width: 300px;
margin: auto;
display: none;
}
.topic.actions li {
display: block;
float: left;
font-size: 12px;
margin: 0 10px;
text-align: center;
}
#searchform {
text-align: center;
}
#searchform span {
display: none;
}
.contentheader td {
display: none;
text-align: center;
margin-bottom: 20px;
}
.contentheader td.wu_author, .contentheader td.wu_type, .contentheader td.wu_cfull, .contentheader td.wu_dtcreate {
display: block;
}
.contentheader td.wu_type {
margin: 30px 0 10px 0;
font-size: 12px;
}
.createdby {
display: none;
}
.topic {
text-align: center;
font-size: 11px;
margin-top: 20px;
}
@media screen and (max-device-width:480px) {html {
color: #000
}
body {
margin: 4px 2px 0 2px
}
body,.c,span,.c,p,ol {
font: normal 12px/18px sans-serif
}
.baa {
font: normal 14px/18px serif
}
.c,p,ol,h2,h3 {
margin: 1.75em 0
}
a:link,a:visited {
text-decoration: underline;
border: 0
}
a:link:hover,a:visited:hover {
border: 0
}
h1,h2,h3 {
padding: 0;
border: 0;
letter-spacing: 0;
text-shadow: 0
}
h1 {
margin: 0
}
h1 {
font: normal 18px/18px serif
}
h2 {
font: normal 16px/18px serif
}
h3 {
font: normal 14px/18px serif
}
h1:before {
content: ''
}
.w,form,.a {
display: none
}
.f img {
width: 4em;
height: 4em
}
i {
text-transform: inherit
}
i {
font-style: oblique
}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
}