/* 2047469.css (ResponsiveBase by in10se - depended_upon by Responsive2) */
/* ------------------------------------------------------------
* HTML RESETS AND BASIC TAG STYLING
* ------------------------------------------------------------
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video
{
margin: 0;
padding: 0;
border: 0;
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video
{
display: block;
}
a:hover, a:active
{
color: #a00;
text-decoration: none;
}
a img { border: 0; }
img
{
max-width: 100%;
}
a.externalLink
{
text-decoration: none;
border-bottom: 1px dotted #00f;
}
legend
{
font-weight: bold;
}
th, td
{
padding: 2px 1em;
}
textarea
{
width: 100%;
max-width: 100%;
}
input[type=text]
{
max-width: 100%;
}
pre
{
max-width: 100%;
overflow: scroll;
}
abbr, acronym
{
border-bottom: 1px dotted #ccc;
cursor: help;
}
dt { font-weight: bold; }
dd { margin-left: 24px; }
p, h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
blockquote
{
margin: 1em 24px;
padding: 0 24px;
border-left: 2px solid #ccc;
}
ul, ol
{
margin: 1.12em 0;
margin-left: 24px;
}
ul ul, ul ol, ol ul, ol ol
{
margin-top: 0;
margin-bottom: 0;
}
/* ------------------------------------------------------------
* TYPOGRAPHY
* ------------------------------------------------------------
*/
h1 { font-size: 184%; }
h2 { font-size: 150%; }
/* User-submitted h1s converted to h2 for SEO - style them like h1s */
h2.user-h1 { font-size: 184%; }
h3 { font-size: 129%; }
h4 { font-size: 116%; }
h5 { font-size: 108%; }
h6 { font-size: 103%; }
body { font: 16px/24px Georgia, serif; }
small { font-size: 90%; }
small small { font-size: 99%; }
big { font-size: 110%; }
big big { font-size: 101%; }
/* ------------------------------------------------------------
* SELECTION COLORS
* ------------------------------------------------------------
*/
::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}
/* ------------------------------------------------------------
* E2 SPECIFIC
* ------------------------------------------------------------
*/
.nodetitle { margin-top: 0; }
#softlinks
{
text-align: center;
font-size: 80%;
}
/* ------------------------------------------------------------
* NODELETS
* ------------------------------------------------------------
*/
.nodelet { margin-top: 24px; }
.nodelet ul, .nodelet ol
{
list-style: none;
margin: 0;
padding: 0;
}
.nodelet li, .privmsg, .chat, #currentuserpoll td
{
border-bottom: 1px solid  #ccc;
padding: 4px 0;
}
#chatterbox hr { margin: 24px; }
/* ------------------------------------------------------------
* DEFAULT / FALLBACK LAYOUT
* ------------------------------------------------------------
* Used typically on desktops and older browsers.
* Percentage-based layout.
*/
body
{
text-align: center;
margin: 0 auto;
width: 95%;
background: rgb(232,232,232);
color: rgb(60,60,60);
/* Stop Mobile Safari from auto-adjusting font-sizes */
-webkit-text-size-adjust: 100%;
}
/* Clearfix the header */
#header:after
{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html #header { zoom: 1; } /* IE6 */
*:first-child+html #header { zoom: 1; } /* IE7 */
/* Center everything */
#header, #wrapper, #footer
{
margin: 0 auto;
text-align: left;
}
#searchform
{
float: right;
width: 25%;
}
#e2logo, div#e2logo
{
float: left;
width: 65%;
margin: 0;
padding: 0;
}
/* #wrapper { width: 100%; } */
#mainbody
{
float: left;
width: 65%;
margin-right: 1%;
margin-top: 24px;
clear: both;
}
#sidebar
{
float: right;
width: 30%;
font-size: 85%;
}
#footer { clear: both; }
/* ------------------------------------------------------------
* TABLET LAYOUT
* ------------------------------------------------------------
* Used typically on tablets, unmaximized browser windows, and
* users whose resolution is set lower than average.
* (e.g., 800x600)
*
* Still percentage-based, but we make some minor modifications
* as the screen gets smaller.
*/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
#sidebar { font-size: 70%; }
}
/* ------------------------------------------------------------
* MOBILE LAYOUT (PORTRAIT)
* ------------------------------------------------------------
* Used typically on smaller mobile devices / smartphones in
* portrait mode. The biggest changes go here which include switching to a 1-column layout, modifying font sizes, hiding numerous sections of the GUI, etc.
*/
@media only screen and (max-width: 767px)
{
body
{
width: 98%;
font-size: 85%;
}
h1 { font-size: 125%; }
h2 { font-size: 120%; }
h3 { font-size: 115%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }
h6 { font-size: 100%; }
#searchform
{
float: right;
width: auto;
margin-left: 0;
}
#e2logo
{
float: left;
width: auto;
font-size: 110%;
}
#mainbody
{
float: none;
width: auto;
margin-right: 0;
}
#sidebar
{
width: auto;
font-size: 100%;
float: none;
margin-right: 24px;
}
.nodelet
{
border: 1px solid #333;
padding: 24px;
}
/*
* Decrease the horizontal margins/padding of certain elements
* once the viewport gets this small.
*/
.item blockquote
{
margin: 1em 12px;
padding: 0 12px;
border-left: 1px solid #ccc;
}
.item ul, .item ol, dd
{
margin-left: 12px;
}
/*
* There is no way to display the softlink table as a table in a tiny browser
* window without a serious horizontal scroll. For that reason, we shift to
* floating elements.
*/
#softlinks td
{
width: 25%;
max-width: 100%;
}
/*
* We start hiding superfluous parts of the GUI in the
* mobile layouts. Most of these are nodelet related.
*/
#searchform span, .privmsg, .wu_author small, .contentinfo td.wu_hits, .contentinfo td.wu_dtcreate, .createdby, #cooledby, #servertime,
#categories, #coolstaffpicks, #currentuserpoll, #e2zeitgeist, #mostwanted, #newlogs, #quickreference, #randomnodes, #readthis, #recentnodes, #statistics, #usergroupwriteups, #vitals
{
display: none;
}
}
/* ------------------------------------------------------------
* MOBILE LAYOUT (LANDSCAPE)
* ------------------------------------------------------------
* Used typically on smaller mobile devices / smartphones in
* landscape mode.
*/
@media only screen and (min-width: 480px) and (max-width: 767px)
{
/*
* nothing for now - maybe hide all nodelets if we get this small
*/
}
/* ------------------------------------------------------------
* UNNECESSARY UI
* ------------------------------------------------------------
*/
#displaytypelinks
{
display: none;
}/* SOFTLINK COLORS */
td#sl64{background:#aaaaaa;}td#sl63{background:#ababab;}td#sl62{background:#acacac;}td#sl61{background:#aeaeae;}
td#sl60{background:#afafaf;}td#sl59{background:#b0b0b0;}td#sl58{background:#b2b2b2;}td#sl57{background:#b3b3b3;}
td#sl56{background:#b4b4b4;}td#sl55{background:#b6b6b6;}td#sl54{background:#b7b7b7;}td#sl53{background:#b8b8b8;}
td#sl52{background:#bababa;}td#sl51{background:#bbbbbb;}td#sl50{background:#bcbcbc;}td#sl49{background:#bebebe;}
td#sl48{background:#bfbfbf;}td#sl47{background:#c0c0c0;}td#sl46{background:#c2c2c2;}td#sl45{background:#c3c3c3;}
td#sl44{background:#c4c4c4;}td#sl43{background:#c6c6c6;}td#sl42{background:#c7c7c7;}td#sl41{background:#c9c9c9;}
td#sl40{background:#cacaca;}td#sl39{background:#cbcbcb;}td#sl38{background:#cdcdcd;}td#sl37{background:#cecece;}
td#sl36{background:#cfcfcf;}td#sl35{background:#d1d1d1;}td#sl34{background:#d2d2d2;}td#sl33{background:#d3d3d3;}
td#sl32{background:#d5d5d5;}td#sl31{background:#d6d6d6;}td#sl30{background:#d7d7d7;}td#sl29{background:#d9d9d9;}
td#sl28{background:#dadada;}td#sl27{background:#dbdbdb;}td#sl26{background:#dddddd;}td#sl25{background:#dedede;}
td#sl24{background:#dfdfdf;}td#sl23{background:#e1e1e1;}td#sl22{background:#e2e2e2;}td#sl21{background:#e4e4e4;}
td#sl20{background:#e5e5e5;}td#sl19{background:#e6e6e6;}td#sl18{background:#e8e8e8;}td#sl17{background:#e9e9e9;}
td#sl16{background:#eaeaea;}td#sl15{background:#ececec;}td#sl14{background:#ededed;}td#sl13{background:#eeeeee;}
td#sl12{background:#f0f0f0;}td#sl11{background:#f1f1f1;}td#sl10{background:#f2f2f2;}td#sl9{background:#f4f4f4;}
td#sl8{background:#f5f5f5;}td#sl7{background:#f6f6f6;}td#sl6{background:#f8f8f8;}td#sl5{background:#f9f9f9;}
td#sl4{background:#fafafa;}td#sl3{background:#fcfcfc;}td#sl2{background:#fdfdfd;}td#sl1{background:#ffffff;}
